<div class="row">
  <div class="col-6 col-12-xsmall">
    <%= form_with(model: article, local: true) do |form| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="article-form mb10">
        <%= form.file_field :image, class: "non-active" %>
        <div id="upload_image_button" class="button" onclick="$('#article_image').click()">サムネ画像をアップロード</div>
      </div>

      <div class="article-form mb10">
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>

      <div class="article-form mb10">
        <%= form.text_area :body, rows: "30", placeholder: "本文" %>
      </div>

      <div class="article-form mb10">
        <%= form.text_area :description, placeholder: "ディスクリプション" %>
      </div>

      <div class="article-form align-center mb10">
        <%= form.radio_button :published, :false, checked: true %>
        <%= form.label :published, "公開しない", {value: :false, style: "display: inline-block;"} %>
        <%= form.radio_button :published, :true %>
        <%= form.label :published, "公開する", {value: :true, style: "display: inline-block;"} %>
      </div>

      <div class="article-submit-buttons">
        <%= link_to 'キャンセル', articles_admin_path, data: { confirm: "変更を破棄しますか？" }, class: "button" %>
        <div id="temp_save_button">
          <%= form.submit "一時保存する" %>
        </div>
        <div id="publish_button">
          <%= form.submit "　公開する　", data: { confirm: "本当に公開しますか？" }, class: "primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-6 col-12-xsmall">
    <div id="preview_image">
      <%= image_tag @article.image.to_s, class: "image w100" %>
    </div>
    <h1 id="preview-title"></h1>
    <div id="preview-body"></div>
  </div>
</div>


<%= javascript_include_tag 'marked.js' %>

<script type="text/javascript" language="javascript">
  marked.setOptions({breaks : true});

  $articleImage = $('#article_image');
  $articleTitle = $('#article_title');
  $articleBody = $('#article_body');
  $articlePublishedFalse = $('#article_published_false');
  $articlePublishedTrue = $('#article_published_true');
  $previewTitle = $('#preview-title');
  $previewImage = $('#preview_image');
  $previewBody = $('#preview-body');

  $previewTitle.html(
    marked($articleTitle.val())
  );

  $previewBody.html(
    marked($articleBody.val())
  );

  if ($articlePublishedTrue.val()) {
    $('#temp_save_button').removeClass("non-active");
    $('#publish_button').addClass("non-active");
  } else {
    $('#temp_save_button').addClass("non-active");
    $('#publish_button').removeClass("non-active");
  }

  $($articleImage).on('change', $articleImage, function(e) {
    file = e.target.files[0];
    reader = new FileReader();

    if(file.type.indexOf('image') < 0){
      return false;
    };

    reader.onload = (function(file) {
      return function(e) {
        $previewImage.empty();
        $previewImage.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "image",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });

  $articleTitle.on('input', function() {
    $previewTitle.html(
      marked($articleTitle.val())
    );
  });

  $articleBody.on('input', function() {
    $previewBody.html(
      marked($articleBody.val())
    );
  });

  $articlePublishedFalse.on('click', function() {
    $('#temp_save_button').removeClass("non-active");
    $('#publish_button').addClass("non-active");
  });
  $articlePublishedTrue.on('click', function() {
    $('#temp_save_button').addClass("non-active");
    $('#publish_button').removeClass("non-active");
  });
</script>