<div class="row">
  <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
    <div class="row mt10">
      <div class="col-6 align-center">
        <%= link_to new_article_path, class: "button primary" do %>
          <i class="fas fa-feather-alt"></i>
          新規投稿
        <% end %>
      </div>
      <div class="col-6 align-center">
        <%= link_to articles_path, class: "button" do %>
          <i class="fas fa-feather-alt"></i>
          公開中の記事一覧へ
        <% end %>
      </div>
    </div>

    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article-container">
          <% if article.image.present? %>
            <div class="adjust-box box-16x9">
              <div class="inner-box align-center">
                <%= image_tag article.image.to_s, class: "image w100 h100", style: "object-fit: cover;" %>
              </div>
            </div>
          <% end %>

          <h2 class="article-title mt10 mb5">
            <%= article.title %>
          </h2>

          <div class="gray mb5">
            <%= l article.updated_at, format: :short_date %>
          </div>

          <div class="bb0">
            <% if article.published? %>
              <div class="mb10">
                <span class="dark">ステータス：</span>
                <i class="fas fa-cloud dark"></i>
                <span class="bold dark">公開</span>
              </div>

              <div>
                <%= link_to "/articles/#{article.id}/unpublish", method: :patch, data: { confirm: 'ほんとに非公開にしちゃうの？' }, class: "mb5 button dark" do %>
                  <i class="fas fa-pause pink"></i>
                  非公開にする
                <% end %>
                <%= link_to edit_article_path(article), class: "mb5 button dark" do %>
                  <i class="fas fa-edit pink"></i>
                  編集する
                <% end %>
                <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: "mb5 button" do %>
                  <i class="far fa-trash-alt"></i>
                  削除する
                <% end %>
              </div>

            <% else %>
              <div class="mb10">
                <span class="dark">ステータス：</span>
                <i class="fas fa-pause pink"></i>
                <span class="bold pink">非公開</span>
              </div>

              <div>
                <%= link_to "/articles/#{article.id}/publish", method: :patch, data: { confirm: 'ほんとに公開する？' }, class: "mb5 button dark" do %>
                  <i class="fas fa-cloud-upload-alt pink"></i>
                  公開する
                <% end %>
                <%= link_to edit_article_path(article), class: "mb5 button dark" do %>
                  <i class="fas fa-edit pink"></i>
                  編集する
                <% end %>
                <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: "mb5 button" do %>
                  <i class="far fa-trash-alt"></i>
                  削除する
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
