<%= hidden_field_tag "articleTitle", @article.title %>
<%= hidden_field_tag "articleBody", @article.body %>

<div class="row mt10 mb10">
  <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
    <div class="article-container">
      <%= image_tag @article.image.to_s, class: "image w100" %>
      <div id="preview-title" class="bold dark mb10" style="font-size:1.8em"></div>
      <div id="preview-body"></div>
    </div>

    <%= link_to '一覧へ戻る', articles_path, class: "button bb0" %>

    <% if is_admin? %>
      <%= link_to '編集する', edit_article_path(@article), class: "button dark" %>
      <%= link_to '削除する', @article, method: :delete, data: { confirm: '本当に削除する？' }, class: "button primary" %>
    <% end %>
  </div>
</div>



<%= javascript_include_tag 'marked.js' %>

<script type="text/javascript" language="javascript">
  $previewTitle = $('#preview-title');
  $previewBody = $('#preview-body');

  marked.setOptions({breaks : true});

  $previewTitle.html(
    articleTitle.value
  );

  $previewBody.html(
    marked(articleBody.value)
  );

</script>