<div class="row mb10">
  <div class="col-9 row">
    <div class="col-12">
      <h1 class="mb10">
        <i class="fas fa-star yellow"></i>
        <% if exhb_log.star.present? %>
          <span><%= exhb_log.star %></span>
        <% else %>
          <span>&nbsp;-&nbsp;</span>
        <% end %>
        <span class="denominator">/3</span>
      </h1>
    </div>
  </div>

  <div class="col-3">
    <div id="exhb_log_like_<%= exhb_log.id %>">
      <%= render partial: "exhb_log_likes/button", locals: {exhb_log: exhb_log} %>
    </div>

    <div id="exhb_log_likes_count_<%= exhb_log.id %>">
      <%= render partial: "exhb_log_likes/count", locals: {exhb_log: exhb_log} %>
    </div>
  </div>

  <div class="col-12"><%= exhb_log.created_at %></div>
  <div class="col-12"><%= exhb_log.body %></div>
</div>