<div class="row">
  <div class="col-3 col-4-xsmall">
    <h2>
        <span><i class="fas fa-star yellow"></i></span>
        <% if exhb_log.star.present? %>
          <span><%= exhb_log.star %></span>
        <% else %>
          <span>&nbsp;-&nbsp;</span>
        <% end %>
        <span class="denominator">/3</span>
      </h2>
  </div>

  <div class="col-9 col-8-xsmall">
    <%= link_to exhb_log_path(exhb_log) do %>
      <div id="exhb_log<%= exhb_log.id %>_body" class="dark is-text mt5 mb10"><%= exhb_log.body %></div>
    <% end %>
    <%= form_with(model: exhb_log, url: "/logs/#{exhb_log.id}", method: "PATCH", id: "exhb_log#{exhb_log.id}_form", class: "non-active mb5") do |form| %>
      <%= form.text_area :body, value: exhb_log.body %>
      <div class="flex-container space-between">
        <div id="cancel_edit_exhb_log<%= exhb_log.id %>" class="button mt5">キャンセル</div>
        <%= form.submit "保存", id: "submit_exhb_log#{exhb_log.id}", class: "primary mt5" %>
      </div>
    <% end %>
    <div style="font-size:0.8em;"><%= l exhb_log.created_at, format: :short_date %></div>

    <div class="row">
      <div class="col-7">
        <% if params[:controller] != "exhb_logs" %>
          <% if exhb_log.body.present? %>
            <a href="/exhb_logs/<%=exhb_log.id%>" class="button dark">コメントする</a>
          <% end %>
        <% end %>
      </div>
      <div class="col-5">
        <div id="exhb_log_like_<%= exhb_log.id %>">
          <%= render partial: "exhb_log_likes/button", locals: {exhb_log: exhb_log} %>
        </div>

        <div id="exhb_log_likes_count_<%= exhb_log.id %>">
          <%= render partial: "exhb_log_likes/count", locals: {exhb_log: exhb_log} %>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript" language="javascript">
    $('#cancel_edit_exhb_log<%= exhb_log.id %>').on('click', function () {
        $('#exhb_log<%= exhb_log.id %>_body').removeClass('non-active');
        $('#exhb_log<%= exhb_log.id %>_form').addClass('non-active')
    });

    $('#submit_exhb_log<%= exhb_log.id %>').on('click', function () {
        setTimeout(function () {
            location.reload();
        }, 500);
    });
</script>