<div class="row">
  <div class="col-3 col-4-xsmall">
    <h2>
        <span><i class="fas fa-star yellow"></i></span>
        <% if exhb_log.star.present? %>
          <span><%= exhb_log.star %></span>
        <% else %>
          <span>&nbsp;-&nbsp;</span>
        <% end %>
        <span class="denominator">/3</span>
      </h2>
  </div>

  <div class="col-9 col-8-xsmall">
    <%= link_to exhb_log_path(exhb_log) do %>
      <div class="dark is-text mt5 mb10"><%= exhb_log.body %></div>
    <% end %>

    <div class="row">
      <div class="col-7">
        <% if params[:controller] != "exhb_logs" %>
          <% if exhb_log.body.present? %>
            <a href="/exhb_logs/<%=exhb_log.id%>" class="button dark">コメントする</a>
          <% end %>
        <% end %>
      </div>
      <div class="col-5">
        <div id="exhb_log_like_<%= exhb_log.id %>">
          <%= render partial: "exhb_log_likes/button", locals: {exhb_log: exhb_log} %>
        </div>

        <div id="exhb_log_likes_count_<%= exhb_log.id %>">
          <%= render partial: "exhb_log_likes/count", locals: {exhb_log: exhb_log} %>
        </div>
      </div>
    </div>
  </div>

</div>
