<div><%= exhb_log.created_at %></div>
<% if exhb_log.star.present? %>
  <div>★<%= exhb_log.star %></div>
<% end %>
<div><%= exhb_log.body %></div>

<div id="exhb_log_like_<%= exhb_log.id %>">
  <%= render partial: "exhb_log_likes/button", locals: {exhb_log: exhb_log} %>
</div>
<div>いいね<%= exhb_log.exhb_log_likes.count %>件</div>
