<% if params[:controller] == "logs" %>
  <% url = "/logs/new/?e=#{exhb.id}" %>
<% else %>
  <% url = "/exhibitions/#{exhb.id}" %>
<% end %>

<a href="<%= url %>">
  <div class="adjust-box box-3x4">
    <div class="inner-box align-center" style="background-color:#f5f6f7;">
      <% if exhb.image.present? %>
        <%= image_tag exhb.image, class: "w100 h100 image", style: "object-fit:cover;" %>
      <% else%>
        <div class="flex-container vertical">
          <h3 class="gray mb0"><i class="fas fa-camera"></i></h3>
          <div class="gray">NO IMAGE</div>
        </div>
      <% end %>
    </div>
  </div>
</a>

<div class="content mt10 mb0">
  <h4 class="align-center mb0 wrap_3 outer"><div class="inner"><a href="<%= url %>">
    <% if exhb.name.length > 20 %>
      <%= exhb.name.first(20) %>...
    <% else %>
      <%= exhb.name %>
    <% end %>
  </a></div></h4>

  <h2 class="row mb0">
    <div class="col-8">
      <i class="fas fa-star yellow"></i>
      <% if exhb.star.present? %>
        <span><%= exhb.star.round(2) %></span>
      <% else %>
        <span>&nbsp;-&nbsp;</span>
      <% end %>
      <span class="denominator">/3</span>
    </div>
    <div class="col-2 pl0 align-center">
      <a href="/logs/new/?e=<%=exhb.id%>"><i class="fas fa-edit"></i></a>
    </div>
    <div class="exhb_pin_<%= exhb.id %> col-2 pl0 align-center">
      <%= render partial: "exhb_pins/button", locals: {exhb: exhb} %>
    </div>
  </h2>

  <% if params[:controller] != "museums" %>
    <div class="align-center wrap_3 outer"><div class="inner"><%= exhb.museum.name %></div></div>
  <% end %>
  <div class="row">
    <% if exhb.start_date.blank? %>
      <div class="col-12 align-center">
        開催日未定
      </div>
    <% elsif exhb.end_date.blank? %>
      <div class="col-12 align-center">
        <%= l exhb.start_date, format: :long %>
        <span> 〜 未定</span>
      </div>
    <% else %>
      <div class="col-12">
        <%= l exhb.start_date, format: :long %>
      </div>
      <div class="col-11 col-12-xsmall align-right">
        〜 <%= l exhb.end_date, format: :long %>
      </div>
    <% end %>
  </div>
</div>