<% if exhb.image.present? %>
  <div class="image w100 mr10"><a href="/exhibitions/<%=exhb.id%>"><%= image_tag exhb.image, class: "w100" %></a></div>
<% else%>
  <span class="image w100 mr10 mb0"><a href="/exhibitions/<%=exhb.id%>" class="icon fa-gem mr10 mb0"></a></span>
<% end %>
<div class="content mt10 mb20">
  <h3><a href="/exhibitions/<%=exhb.id%>"><%= exhb.name %></a></h3>

  <h2 class="row">
    <div class="col-8">
      <i class="fas fa-star yellow"></i>
      <% if exhb.star.present? %>
        <span><%= exhb.star.round(2) %></span>
      <% else %>
        <span>&nbsp;-&nbsp;</span>
      <% end %>
      <span class="denominator">/3</span>
    </div>
    <div class="col-2 pl0 align-center">
      <a href="/exhibitions/<%=exhb.id%>/logs/new"><i class="fas fa-edit"></i></a>
    </div>
    <div id="exhb_clip_<%= exhb.id %>" class="col-2 pl0 align-center">
      <%= render partial: "exhb_clips/button", locals: {exhb: exhb} %>
    </div>
  </h2>

  <% unless controller.controller_name == "museums" %>
    <div><%= exhb.museum.name %></div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= l exhb.start_date, format: :long %>
    </div>
    <div class="col-11 col-12-xsmall align-right">
        〜 <%= l exhb.end_date, format: :long %>
    </div>
  </div>
</div>