<section>
	<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
		<div class="row gtr-uniform">
			<div class="col-1 col-3-xsmall">
				<h3 class="align-center pt5">場所</h3>
			</div>
			<div class="col-5 col-9-xsmall">
				<%= form.text_field :exhb_area, value: params[:exhb_area], placeholder: "例:東京" %>
			</div>
			<div class="col-1 col-3-xsmall">
				<h3 class="align-center pt5">展名</h3>
			</div>
			<div class="col-5 col-9-xsmall">
				<%= form.text_field :exhb_name, value: params[:exhb_name], placeholder: "例:モネ展" %>
			</div>

			<div class="col-1 col-3-xsmall">
				<h3 class="align-center pt5">日時</h3>
			</div>
			<div class="col-5 col-9-xsmall">
				<%= form.date_field :exhb_date, value: params[:exhb_date], placeholder: Date.today %>
			</div>
			<div class="col-12 col-12-xsmall">
				<div class="row">
					<div class="col-3 off-1-xsmall col-5-xsmall"><div id="exhb_form_reset" class="button w100" tabindex="0">リセット</div></div>
					<div class="col-3 col-5-xsmall"><input type="submit" value="検索" class="primary w100" /></div>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall">
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</div>
		<% end %>
	</div>
</section>

<script type="text/javascript" language="javascript">
	$(function() {
		$('#exhb_form_reset').on('click', function(){
			$('#exhb_area').val("");
			$('#exhb_name').val("");
			$('#exhb_date').val("");
    });
	});
</script>