<section>
	<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
		<div class="row gtr-uniform">
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">場所</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :area, value: params[:area], placeholder: "例:東京" %>
			</div>
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">展名</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :name, value: params[:name], placeholder: "例:モネ展" %>
			</div>

			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">日時</h3>
			</div>
			<div class="col-5 col-6-xsmall">
				<%= form.date_field :date, value: params[:date], placeholder: Date.today %>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="検索" class="primary" /></li>
					<li><div id="exhb_form_reset" class="button" onClick=>リセット</div></li>
				</ul>
			</div>
		</div>
	<% end %>

	<div class="row">
		<% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall">
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</div>
		<% end %>
	</div>
</section>

<script type="text/javascript" language="javascript">
	$(function() {
		$('#exhb_form_reset').on('click', function(){
			$('#name').val("");
			$('#area').val("");
			$('#date').val("");
    });
	});
</script>