<% exhb = @exhibition %>

<h1><%= exhb.name %></h1>

<% if exhb.image %>
	<%= image_tag exhb.image %>
<% end %>
<br>

<% if exhb.star %>
	<div>★<%= exhb.star.round(2) %></div>
<% end %>
<%= link_to "行った！", new_exhibition_log_path(exhb) %>
<% if user_signed_in? %>
	<% if exhb_clip = ExhbClip.find_by(user_id: current_user.id, exhibition_id: exhb.id) %>
		<div><%= link_to "クリップを外す", exhibition_exhb_clip_path(exhb, exhb_clip), method: :delete %></div>
	<% else %>
		<div><%= link_to "クリップ！", exhibition_exhb_clips_path(exhb), method: :post %></div>
	<% end %>
<% else %>
	<div><%= link_to "クリップ！", exhibition_exhb_clips_path(exhb), method: :post %></div>
<% end %>

<h2>詳細</h2>
<h3>会場</h3>
<div><%= link_to exhb.museum.name, museum_path(exhb.museum) %></div>
<div><%= exhb.museum.address %></div>

<h3>会期</h3>
<div><%= exhb.start_date %>〜<%= exhb.end_date %></div>

<h3>入場料</h3>
<div style="white-space:pre-wrap"><%= exhb.fee %></div>

<h3>休館日</h3>
<div><%= exhb.closing_day %></div>

<h3>開館時間</h3>
<div><%= exhb.opening_hours %></div>

<h3>お問い合わせ先</h3>
<div><%= exhb.phone %></div>

<h3>主催</h3>
<div><%= exhb.organizer %></div>

<h3>公式サイト</h3>
<% if exhb.website.present? %>
	<div><%= link_to exhb.website, exhb.website, target: :_blank %></div>
<% end %>

<% if @arts.present?%>
	<h2>人気の作品</h2>
	<% @arts.each do |art| %>
		<%= link_to art_path(art) do %>
			<%= image_tag art.liked_image.to_s, width: "200px" if art.liked_image.present? %>
			<div class="bold"><%= art.name %></div>
			<div>作者：<%= art.artist.name %></div>
			<div>制作年：<%= art.year %></div>
			<% if art.star.present? %>
				<div>★<%= art.star.round(2) %></div>
			<% end %>
		<% end %>
		<br>
	<% end %>
<% end %>

<h2>この展覧会へのコメント</h2>
<% @exhb_logs.each do |exhb_log| %>
	<%= link_to user_path(exhb_log.user) do %>
		<%= image_tag exhb_log.user.image_url(:thumb), height: "30px" if exhb_log.user.image.present? %>
		<div>
			<%= exhb_log.user.display_name %>
			<% if exhb_log.user.username.present? %>
				 @<%= exhb_log.user.username %>
			<% end %>
		</div>
	<% end %>
	<div><%= exhb_log.created_at %></div>
	<% if exhb_log.star.present? %>
		<div>★<%= exhb_log.star %></div>
	<% end %>
	<div><%= exhb_log.body %></div>
	<% if user_signed_in? %>
		<% if exhb_log_like = ExhbLogLike.find_by(user_id: current_user.id, exhb_log_id: exhb_log.id) %>
			<div><%= link_to "❤️", exhb_log_exhb_log_like_path(exhb_log, exhb_log_like), method: :delete %></div>
		<% else %>
			<div><%= link_to "♡", exhb_log_exhb_log_likes_path(exhb_log), method: :post %></div>
		<% end %>
	<% else %>
		<div><%= link_to "♡", exhb_log_exhb_log_likes_path(exhb_log), method: :post %></div>
	<% end %>
	<%= exhb_log.exhb_log_likes.count %>
	<% if exhb_log.exhb_log_comments.present? %>
		<div><%= exhb_log.exhb_log_comments.last.user.display_name %> @<%= exhb_log.exhb_log_comments.last.user.username %></div>
		<div><%= exhb_log.exhb_log_comments.last.body %></div>
	<% end %>
	<% if user_signed_in? %>
		<%= form_with(model: @exhb_log_comment, url: exhb_log_exhb_log_comments_path(exhb_log)) do |form| %>
			<%= form.text_area :body %>
			<%= form.submit "送信" %>
		<% end %>
	<% end %>

	<br>
<% end %>