<div class="exhibition-header-container">
	<header class="major align-center">
		<h2><%= @exhibition.name %></h2>
	</header>
</div>

<div class="row">
	<div class="col-4 col-12-xsmall">
		<div class="exhibition-info-container">
			<% if @exhibition.image.present? %>
				<div>
					<%= image_tag @exhibition.image, class: "image w100" %>
				</div>
			<% else %>
				<div class="adjust-box box-1x1">
					<div class="inner-box align-center">
						<span class="icon fa-gem gray" style="font-size:4em;"></span>
					</div>
				</div>
				<div class="image"></div>
			<% end %>

			<div class="align-center">
				<a href="/museums/<%=@exhibition.museum.id%>" class="bb0"><%= @exhibition.museum.name %></a>
			</div>

			<h3 class="align-center mb0">
				<% if @exhibition.start_date.year == @exhibition.end_date.year %>
					<span><%= l @exhibition.start_date, format: :long %></span>
					<span> 〜 </span>
					<span><%= l @exhibition.end_date, format: :short %></span>
				<% else %>
					<span><%= l @exhibition.start_date, format: :short %></span>
					<span> 〜 </span>
					<span><%= l @exhibition.end_date, format: :long %></span>
				<% end %>
			</h3>

			<div class="row">
				<div class="col-7">
					<h2 class="mobile-fs3em mb0">
						<i class="fas fa-star yellow"></i>
						<% if @exhibition.star.present? %>
							<span><%= @exhibition.star.round(2) %></span>
						<% else %>
							<span>&nbsp;-&nbsp;</span>
						<% end %>
						<span class="denominator">/3</span>
					</h2>
				</div>
				<div class="col-3 align-center">
					<h2 class="mobile-fs3em mb0"><a href="/logs/new/?e=<%=@exhibition.id%>"><i class="fas fa-edit"></i></a></h2>
				</div>
				<h2 class="exhb_clip_<%= @exhibition.id %> col-2 align-center mobile-fs3em pl0 mb0">
					<%= render partial: "exhb_clips/button", locals: {exhb: @exhibition} %>
				</h2>
			</div>
		</div>
	</div>

	<div class="col-8 col-12-xsmall">
		<% if @exhibition.description.present? %>
			<div class="highlight-container">
				<div>
					<header class="major align-center">
						<h2 style="">みどころ</h2>
					</header>

					<p class="dark mb0">
						<%= @exhibition.description %>
					</p>
				</div>
				</div>
		<% end %>
	</div>
</div>


<div class="arts-container">
	<% if @arts.present? %>
		<header class="major align-center">
			<h2>人気の作品</h2>
		</header>
		<div class="row">
			<% @arts.first(4).each do |art| %>
				<div class="col-3 col-6-xsmall">
					<div class="art-container">
						<%= render partial: "arts/show", locals: {art: art} %>
					</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<header class="major align-center">
			<h2>作品一覧</h2>
		</header>
		<div class="row">
			<% @exhibition.arts.first(4).each do |art| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "arts/show", locals: {art: art} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


<div class="exhibition-outline-container">
	<header class="major align-center">
		<h2>開催概要</h2>
	</header>
	<div class="mb20">
		<h3>会場</h3>
		<p>
			<a href="/museums/<%=@exhibition.museum.id%>"  class="bb0"><%= @exhibition.museum.name %></a>
		</p>

		<h3>会期</h3>
		<p>
			<%= l @exhibition.start_date, format: :long %> 〜 <%= l @exhibition.end_date, format: :short %>
		</p>

		<% if @exhibition.fee.present? %>
			<h3>入場料</h3>
			<p class="is-text"><%= @exhibition.fee %></p>
		<% end %>

		<% if @exhibition.closing_day.present? %>
			<h3>休館日</h3>
			<p><%= @exhibition.closing_day %></p>
		<% end %>

		<% if @exhibition.opening_hours.present? %>
			<h3>開館時間</h3>
			<p><%= @exhibition.opening_hours %></p>
		<% end %>

		<% if @exhibition.phone.present? %>
			<h3>お問い合わせ先</h3>
			<p><%= @exhibition.phone %></p>
		<% end %>

		<% if @exhibition.organizer.present? %>
			<h3>主催</h3>
			<p><%= @exhibition.organizer %></p>
		<% end %>

		<% if @exhibition.website.present? %>
			<h3>公式サイト</h3>
			<% if @exhibition.website.present? %>
				<a href="<%= @exhibition.website %>" class="button" target="blank">公式サイトはこちら</a>
			<% end %>
		<% end %>
	</div>
</div>

<div class="exhibition-logs-container">
	<% if @exhb_logs.present? %>
		<header class="major align-center">
			<h2>この展覧会のログ</h2>
		</header>
		<div class="row">
			<% @exhb_logs.each do |exhb_log| %>
				<div class="col-6 col-12-xsmall mb10">
					<%= render partial: "users/show", locals: {user: exhb_log.user, body: exhb_log} %>
					<%= render partial: "exhb_logs/show", locals: {exhb_log: exhb_log} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
