<% exhb = @exhibition %>

<h1><%= exhb.name %></h1>

<% if exhb.image %>
	<%= image_tag exhb.image %>
<% end %>


<h2>会場</h2>
<div><%= link_to exhb.museum.name, museum_path(exhb.museum) %></div>
<div><%= exhb.museum.address %></div>

<h2>会期</h2>
<div><%= exhb.start_date %>〜<%= exhb.end_date %></div>

<h2>入場料</h2>
<div style="white-space:pre"><%= exhb.fee %></div>

<h2>休館日</h2>
<div><%= exhb.closing_day %></div>

<h2>開館時間</h2>
<div><%= exhb.opening_hours %></div>

<h2>お問い合わせ先</h2>
<div><%= exhb.phone %></div>

<h2>主催</h2>
<div><%= exhb.organizer %></div>

<h2>公式サイト</h2>
<% if exhb.website.present? %>
	<div><%= link_to exhb.website, exhb.website, target: :_blank %></div>
<% end %>

<% if @arts.present?%>
	<h2>人気の作品</h2>
	<% @arts.each do |art| %>
		<%= link_to art_path(art) do %>
			<% if art.image %>
				<%= image_tag art.image %>
			<% end %>
			<div class="bold"><%= art.name %></div>
			<div>作者：<%= art.artist.name %></div>
			<div>制作年：<%= art.year %></div>
		<% end %>
		<br>
	<% end %>
<% end %>
