<% exhb = @exhibition %>

<section>
	<header class="major">
		<h2><%= exhb.name %></h2>
	</header>

	<div class="row">
		<div class="col-6 col-12-xsmall">
			<div><%= image_tag exhb.image, width: "100%" if exhb.image.present? %></div>

			<h1 class="row">
				<% if exhb.star.present? %>
					<div class="col-6">
						<i class="fas fa-star yellow"></i><span><%= exhb.star.round(2) %></span>
					</div>
				<% end %>
				<div class="col-3 align-center">
					<a href="/exhibitions/<%=exhb.id%>/logs/new"><i class="fas fa-edit"></i></a>
				</div>
				<div id="exhb_clip" class="col-3 align-center">
					<%= render partial: "exhb_clips/button", locals: {exhb: exhb} %>
				</div>
			</h1>

			<header class="major">
				<h2>詳細情報</h2>
			</header>

			<h3>会場</h3>
			<p>
				<a href="/museums/<%=exhb.museum.id%>"><%= exhb.museum.name %></a><br>
				<%= exhb.museum.address %>
			</p>

			<h3>会期</h3>
			<p><%= exhb.start_date %>〜<%= exhb.end_date %></p>

			<h3>入場料</h3>
			<p style="white-space:pre-wrap"><%= exhb.fee %></p>

			<h3>休館日</h3>
			<p><%= exhb.closing_day %></p>

			<h3>開館時間</h3>
			<p><%= exhb.opening_hours %></p>

			<h3>お問い合わせ先</h3>
			<p><%= exhb.phone %></p>

			<h3>主催</h3>
			<p><%= exhb.organizer %></p>

			<h3>公式サイト</h3>
			<% if exhb.website.present? %>
				<p><%= link_to exhb.website, exhb.website, target: :_blank %></p>
			<% end %>
		</div>

		<div class="col-6 col-12-xsmall">
			<% if @arts.present? %>
				<header class="major">
					<h2>人気の作品一覧</h2>
				</header>
				<%= render partial: "arts/index", locals: {arts: @arts} %>
			<% end %>

			<% if @exhb_logs.present? %>
				<header class="major">
					<h2>展覧会のログ一覧</h2>
				</header>
				<%= render partial: "exhb_logs/index", locals: {exhb_logs: @exhb_logs} %>
			<% end %>
		</div>
	</div>
</section>
