<div class="exhibition-header-container">
	<header class="major align-center">
		<h3><%= @exhibition.name %></h3>
	</header>
</div>

<div class="row">
	<div class="col-4 col-12-xsmall">
		<div class="exhibition-info-container">
			<% if @exhibition.image.present? %>
				<div class="row">
          <div class="col-12 off-3-xsmall col-6-xsmall">
					  <%= image_tag @exhibition.image, class: "image w100" %>
          </div>
				</div>
			<% else %>
				<div class="adjust-box box-1x1">
					<div class="inner-box align-center" style="background-color:#f5f6f7;">
						<div class="flex-container vertical">
							<h3 class="gray mb0"><i class="fas fa-camera"></i></h3>
							<div class="gray">NO IMAGE</div>
						</div>
					</div>
				</div>
				<div class="image"></div>
			<% end %>

			<div class="align-center">
				<a href="/museums/<%=@exhibition.museum.id%>" class="bb0"><%= @exhibition.museum.name %></a>
			</div>

			<h3 class="align-center mb0">
				<% if @exhibition.start_date.year == @exhibition.end_date.year %>
					<span><%= l @exhibition.start_date, format: :long %></span>
					<span> 〜 </span>
					<span><%= l @exhibition.end_date, format: :short %></span>
				<% else %>
					<span><%= l @exhibition.start_date, format: :short %></span>
					<span> 〜 </span>
					<span><%= l @exhibition.end_date, format: :long %></span>
				<% end %>
			</h3>

      <div class="row">
        <div class="col-12 off-2-xsmall col-8-xsmall">
          <div class="row">
            <div class="col-7">
              <h2 class="mb0">
                <i class="fas fa-star yellow"></i>
                <% if @exhibition.star.present? %>
                  <span><%= @exhibition.star.round(2) %></span>
                <% else %>
                  <span>&nbsp;-&nbsp;</span>
                <% end %>
                <span class="denominator">/3</span>
              </h2>
            </div>
            <div class="col-3 align-center">
              <h2 class="mb0"><a href="/logs/new/?e=<%=@exhibition.id%>"><i class="fas fa-edit"></i></a></h2>
            </div>
            <h2 class="exhb_pin_<%= @exhibition.id %> col-2 align-center pl0 mb0">
              <%= render partial: "exhb_pins/button", locals: {exhb: @exhibition} %>
            </h2>
          </div>
        </div>
      </div>
		</div>
	</div>

	<div class="col-8 col-12-xsmall">
		<div class="highlight-container">
			<div>
				<header class="major align-center">
					<h2 style="">みどころ</h2>
				</header>

				<% if @exhibition.description.present? %>
					<p class="dark mb0">
						<%= @exhibition.description %>
					</p>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="arts-container">
	<% if @arts.present? %>
		<header class="major align-center">
			<h2>人気の作品</h2>
		</header>
		<div class="row">
			<% @arts.first(4).each do |art| %>
				<div class="col-3 col-6-xsmall">
					<div class="art-container">
						<%= render partial: "arts/show", locals: {art: art} %>
					</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<header class="major align-center">
			<h2>作品一覧</h2>
		</header>
		<div class="row">
			<% @exhibition.arts.first(4).each do |art| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "arts/show", locals: {art: art} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


<div class="exhibition-outline-container">
	<header class="major align-center">
		<h2>開催概要</h2>
	</header>

	<div class="mb20 align-center">
				<h3 class="mb0">会場</h3>
				<div class="mt5 mb20">
					<a href="/museums/<%=@exhibition.museum.id%>"  class="bb0"><%= @exhibition.museum.name %></a>
				</div>

				<h3 class="mb0">会期</h3>
				<div class="mt5 mb20">
					<%= l @exhibition.start_date, format: :long %> 〜 <%= l @exhibition.end_date, format: :short %>
				</div>

				<% if @exhibition.fee.present? %>
					<h3 class="mb0">入場料</h3>
					<div class="is-text mt5 mb20"><%= @exhibition.fee %></div>
				<% end %>

				<% if @exhibition.closing_day.present? %>
					<h3 class="mb0">休館日</h3>
					<div class="mt5 mb20"><%= @exhibition.closing_day %></div>
				<% end %>

				<% if @exhibition.opening_hours.present? %>
					<h3 class="mb0">開館時間</h3>
					<div class="mt5 mb20"><%= @exhibition.opening_hours %></div>
				<% end %>

				<% if @exhibition.phone.present? %>
					<h3 class="mb0">お問い合わせ先</h3>
					<div class="mt5 mb20"><%= @exhibition.phone %></div>
				<% end %>

				<% if @exhibition.organizer.present? %>
					<h3 class="mb0">主催</h3>
					<div class="mt5 mb20"><%= @exhibition.organizer %></div>
				<% end %>

				<% if @exhibition.website.present? %>
					<% if @exhibition.website.present? %>
						<a href="<%= @exhibition.website %>" class="button" target="blank">公式サイトはこちら</a>
					<% end %>
				<% end %>
	</div>
</div>

<div class="exhibition-logs-container">
		<header class="major align-center">
			<h2>この展覧会のログ</h2>
		</header>
	<% if @exhb_logs.present? %>
		<div class="row">
			<% @exhb_logs.each do |exhb_log| %>
				<div class="col-6 col-12-xsmall mb10">
					<%= render partial: "users/show",
                     locals: {
                         item: exhb_log,
                         item_id: "exhb_log#{exhb_log.id}",
                         destroy_url: "/exhb_logs/#{exhb_log.id}"
                     } %>
					<%= render partial: "exhb_logs/show", locals: {exhb_log: exhb_log} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
