<div>
  <span>
    <a href="/<%=user.username%>" class="image">
      <%= image_tag user.image.to_s, height: "30px" if user.image.present? %>
    </a>
  </span>
  <span>
    <a href="/<%=user.username%>" class="dark bb0">
      <%= user.display_name %>
    </a>
  </span>
  <span>
    <a href="/<%=user.username%>" class="dark bb0">
      @<%= user.username %>
    </a>
  </span>
</div>
