<section>
  <%= form_with(model: @user, url: "/#{@user.username}") do |form| %>
    <div class="row">
      <div class="col-3 off-3-xsmall col-6-xsmall">
        <%= image_tag @user.image_url, width: "100%" if @user.image.present? %>
        <%= form.file_field :image, class: "align-center" %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-2 col-12-xsmall">
        名前
      </div>
      <div class="col-4 col-12-xsmall">
        <%= form.text_field :display_name, value: @user.display_name, placeholder: "名前" %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-2 col-12-xsmall">
        ユーザーネーム
      </div>
      <div class="col-4 col-12-xsmall">
        <%= form.text_field :username, autofocus: true, autocomplete: "username", value: @user.username, placeholder: "ユーザーネーム" %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-2 col-12-xsmall">
        自己紹介
      </div>
      <div class="col-4  col-12-xsmall">
        <%= form.text_area :bio, value: @user.bio, placeholder: "自己紹介" %>
      </div>
    </div>

    <div class="mt20 row">
      <div class="actions">
        <%= form.submit "保存" %>
      </div>
    </div>
  <% end %>
</section>
