<section>
  <div class="row mb20">
    <div class="col-3 col-3-xsmall">
      <%= image_tag @user.image_url, width: "100%" if @user.image.present? %>
    </div>

    <div class="col-9 col-9-xsmall">
    </div>

    <div class="col-6 col-12-xsmall">
      <h3 class="dark mb0"><%= @user.display_name %></h3>
      <div class="dark mb0"><%= @user.username %></div>
      <p class="dark mb20">
        <%= @user.bio %>
      </p>
      <% if @user == current_user %>
        <div class="w100">
          <a href="/<%=@user.username%>/edit" class="w100 button dark">プロフィール編集</a>
        </div>
      <% end %>
    </div>
  </div>


  <% if @visited_exhibitions.present? %>
    <header class="major align-center">
      <h2>行った展覧会</h2>
    </header>
    <div class="row">
      <% @visited_exhibitions.each do |exhb| %>
        <div class="col-3 col-6-xsmall">
          <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @clipped_exhibitions.present? %>
    <header class="major align-center">
      <h2>ピン留めした展覧会</h2>
    </header>
    <div class="row">
      <% @clipped_exhibitions.each do |exhb| %>
        <div class="col-3 col-6-xsmall">
          <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @exhb_logs.present? %>
    <header class="major align-center">
      <h2>すべてのログ</h2>
    </header>
    <%= render partial: "logs/index", locals: {exhb_logs: @exhb_logs} %>
  <% end %>
</section>
