<section>
  <div class="row">
    <div class="col-3 col-6-xsmall">
      <%= image_tag @user.image_url, width: "100%" if @user.image.present? %>
    </div>

    <div class="col-9 col-6-xsmall">
      <% if @user == current_user %>
        <ul class="actions">
          <li><a href="/<%=@user.username%>/edit" class="button">プロフィール編集</a></li>
        </ul>
      <% end %>
      <h3 class="dark mb0"><%= @user.display_name %></h3>
      <div class="dark"><%= @user.username %></div>
    </div>

    <div class="col-6 col-12-xsmall">
      <p class="dark">
        <%= @user.bio %>
      </p>
    </div>

  </div>

  <header class="major">
    <h2>行った展覧会</h2>
  </header>
  <div class="features">
    <% @visited_exhibitions.each do |exhb| %>
      <article>
        <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
      </article>
    <% end %>
  </div>

  <header class="major">
    <h2>ピン留めした展覧会</h2>
  </header>
  <div class="features">
    <% @clipped_exhibitions.each do |exhb| %>
      <article>
        <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
      </article>
    <% end %>
  </div>

  <header class="major">
    <h2>すべてのログ</h2>
  </header>
  <%= render partial: "logs/index", locals: {exhb_logs: @exhb_logs} %>
</section>
