<div class="row">
  <div class="off-3 col-6 off-0-xsmall col-12-xsmall">
    <div class="mypage-user-info">
      <div class="flex-container space-between center">
        <div class="w20">
          <% if @user.image.present? %>
            <%= image_tag @user.image_url, class: "w100 circle" %>
          <% else %>
            <%= image_tag "default-profile-image.png", class: "w100 circle" %>
          <% end %>
        </div>

        <div class="w20 align-center">
          <h1 class="mb0"><%= @user.exhb_logs.count %></h1>
          <div class="dark">投稿</div>
        </div>
        <div class="w20 align-center">
          <h1 class="mb0"><%= @user.exhb_logs.select{|el| (el.exhibition.id != 1)}.count %></h1>
          <div class="dark">行った</div>
        </div>
        <div class="w20 align-center">
          <h1 class="mb0"><%= @user.exhb_clips.count %></h1>
          <div class="dark">ピンした</div>
        </div>
      </div>

      <h3 class="dark mb0"><%= @user.name %></h3>
      <div class="dark mb0"><%= @user.username %></div>
      <p class="dark mb10">
        <%= @user.bio %>
      </p>
      <% if @user == current_user %>
        <div class="w100">
          <a href="/<%=@user.username%>/edit" class="w100 button gray small">プロフィール編集</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mypage-tab-container">
	<div class="row">
		<h3 class="col-4 mb0">
      <header id="log_tab" class="major align-center cursor">
        <div id="log_tab_text">投稿</div>
      </header>
		</h3>

    <h3 class="col-4 mb0">
      <header id="visited_tab" class="align-center cursor">
        <div id="visited_tab_text" class="gray">行った</div>
      </header>
		</h3>

    <h3 class="col-4 mb0">
      <header id="pinned_tab" class="align-center cursor">
        <div id="pinned_tab_text" class="gray">ピンした</div>
      </header>
		</h3>
	</div>
</div>


<div id="log_container">
  <% if @exhb_logs.present? %>
    <% @exhb_logs.each do |exhb_log| %>
      <% if exhb_log.exhibition.id == 1 %>

      <% else %>
        <%= render partial: "logs/show", locals: {exhb_log: exhb_log} %>
      <% end %>
    <% end %>
  <% end %>
</div>


<div id="visited_container" class="non-active">
  <% if @visited_exhibitions.present? %>
    <div class="row">
      <% @visited_exhibitions.each do |exhb| %>
        <div class="col-3 col-6-xsmall">
          <div class="exhb-container">
            <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div id="pinned_container" class="non-active">
  <% if @clipped_exhibitions.present? %>
    <div class="row">
      <% @clipped_exhibitions.each do |exhb| %>
        <div class="col-3 col-6-xsmall">
          <div class="exhb-container">
            <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<script type="text/javascript" language="javascript">
	// タブ切り替え

	$('#log_tab')[0].onclick = function () {
		deactivateVisitedTab();
		deactivatePinnedTab();
		activateLogTab();
  }
	$('#visited_tab')[0].onclick = function () {
		deactivatePinnedTab();
		deactivateLogTab();
		activateVisitedTab();
  }
  $('#pinned_tab')[0].onclick = function () {
		deactivateLogTab();
		deactivateVisitedTab();
		activatePinnedTab();
	}

	function activateLogTab() {
		$('#log_tab').addClass("major")
    $('#log_tab_text').removeClass("gray")
		$('#log_tab_text').addClass("dark")
		$('#log_container').removeClass("non-active")
	}

	function deactivateLogTab() {
		$('#log_tab').removeClass("major")
    $('#log_tab_text').removeClass("dark")
		$('#log_tab_text').addClass("gray")
		$('#log_container').addClass("non-active")
	}

	function activateVisitedTab() {
		$('#visited_tab').addClass("major")
    $('#visited_tab_text').removeClass("gray")
		$('#visited_tab_text').addClass("dark")
		$('#visited_container').removeClass("non-active")
	}

	function deactivateVisitedTab() {
		$('#visited_tab').removeClass("major")
    $('#visited_tab_text').removeClass("dark")
		$('#visited_tab_text').addClass("gray")
		$('#visited_container').addClass("non-active")
	}

	function activatePinnedTab() {
		$('#pinned_tab').addClass("major")
    $('#pinned_tab_text').removeClass("gray")
		$('#pinned_tab').addClass("dark")
		$('#pinned_container').removeClass("non-active")

	}

	function deactivatePinnedTab() {
		$('#pinned_tab').removeClass("major")
    $('#pinned_tab').removeClass("dark")
		$('#pinned_tab_text').addClass("gray")
		$('#pinned_container').addClass("non-active")
	}

</script>
