<h1>ユーザーページ</h1>
<%= image_tag @user.image_url(:thumb) if @user.image.present? %>
<div><span><%= @user.display_name %></span><span>@<%= @user.username %></span></div>
<div><%= @user.bio %></div>
<% if @user == current_user %>
	<div><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
<% end %>

<h2>クリップした展覧会</h2>
<% @exhibitions.each do |exhb| %>
	<%= link_to exhibition_path(exhb) do %>
		<div>
			<% if exhb.image %>
				<%= image_tag exhb.image %>
			<% end %>
			<div><%= exhb.name %></div>
			<div>@<%= exhb.museum.name %></div>
			<div><%= exhb.start_date %>〜<%= exhb.end_date %></div>
			<% if exhb.star %>
				<div>★<%= exhb.star.round(2) %></div>
			<% end %>
		</div>
	<% end %>
	<br>
<% end %>

<h2>ログ一覧</h2>
<% @exhb_logs.each do |exhb_log| %>
	<%= link_to exhb_log.exhibition.name, exhibition_path(exhb_log.exhibition), class: "bold" %>
	<div><%= exhb_log.created_at %></div>
	<% if exhb_log.star.present? %><div>★<%= exhb_log.star %></div><% end %>
	<div><%= exhb_log.body %></div>
	<br>
	<% exhb_log.art_logs.each do |art_log| %>
		<%= link_to art_path(art_log.art) do %>
			<div><%= image_tag art_log.image_url(:thumb), width: "200px" if art_log.image.present? %></div>
			<div><%= art_log.art.name %>(<%= art_log.art.year %>)</div>
			<div><%= art_log.art.artist.name %></div>
			<% if art_log.star %>
				<div>★<%= art_log.star %></div>
			<% end %>
		<% end %>
		<div><%= art_log.body %></div>
		<br>
	<% end %>
<% end %>
