<div id="main">
<div class="inner">

<header id="header">
  <span class="logo">
    <a href="/" class="logo"><%= image_tag "stART-logo.jpg", height: "15px" %></a>
  </span>
</header>

<section>
	<div class="flex-container center baseline">
    <h3 class="mb0">
      <header id="museum_tab" class="align-center cursor">
        <div id="museum_tab_text" class="gray">美術館</div>
      </header>
    </h3>

		<h3 class="mb0">
      <header id="exhb_tab" class="major align-center cursor">
        <div id="exhb_tab_text">展覧会</div>
      </header>
    </h3>

		<h3 class="mb0">
      <header id="art_tab" class="align-center cursor">
        <div id="art_tab_text" class="gray">作品・作者</div>
      </header>
    </h3>
  </div>

	<div id="museum_container" class="non-active">
		<%= render partial: "museums/search", locals: {path: new_log_path} %>

		<div class="row">
			<% museums.each do |museum| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "museums/show", locals: {museum: museum} %>
				</div>
			<% end %>
		</div>
	</div>

	<div id="exhb_container">
		<%= render partial: "exhibitions/search", locals: {path: search_path} %>

		<div class="row">
			<% exhibitions.each do |exhb| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
				</div>
			<% end %>
		</div>
	</div>

	<div id="art_container" class="non-active">
		<%= render partial: "arts/search", locals: {path: search_path} %>

		<div class="row">
			<% arts.each do |art| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "arts/show", locals: {art: art} %>
				</div>
			<% end %>
		</div>
	</div>
</section>

</div>
</div>


<script type="text/javascript" language="javascript">
	$('#museum_tab')[0].onclick = function () {
		deactivateExhibition();
		deactivateArt();
		activateMuseum();
  }
	$('#exhb_tab')[0].onclick = function () {
		deactivateArt();
		deactivateMuseum();
		activateExhibition();
  }
  $('#art_tab')[0].onclick = function () {
		deactivateMuseum();
		deactivateExhibition();
		activateArt();
	}

	function activateMuseum() {
		$('#museum_tab').addClass("major")
    $('#museum_tab_text').removeClass("gray")
		$('#museum_tab_text').addClass("dark")
		$('#museum_container').removeClass("non-active")
	}

	function deactivateMuseum() {
		$('#museum_tab').removeClass("major")
    $('#museum_tab_text').removeClass("dark")
		$('#museum_tab_text').addClass("gray")
		$('#museum_container').addClass("non-active")
	}

	function activateExhibition() {
		$('#exhb_tab').addClass("major")
    $('#exhb_tab_text').removeClass("gray")
		$('#exhb_tab_text').addClass("dark")
		$('#exhb_container').removeClass("non-active")
	}

	function deactivateExhibition() {
		$('#exhb_tab').removeClass("major")
    $('#exhb_tab_text').removeClass("dark")
		$('#exhb_tab_text').addClass("gray")
		$('#exhb_container').addClass("non-active")
	}

	function activateArt() {
		$('#art_tab').addClass("major")
    $('#art_tab_text').removeClass("gray")
		$('#art_tab').addClass("dark")
		$('#art_container').removeClass("non-active")

	}

	function deactivateArt() {
		$('#art_tab').removeClass("major")
    $('#art_tab').removeClass("dark")
		$('#art_tab_text').addClass("gray")
		$('#art_container').addClass("non-active")
	}

	$(function() {
		$('#museum_form_reset').on('click', function(){
			$('#museum_area').val("");
			$('#museum_name').val("");
    });
	});

	$(function() {
		$('#exhb_form_reset').on('click', function(){
			$('#exhb_area').val("");
			$('#exhb_name').val("");
			$('#exhb_date').val("");
    });
	});

	$(function() {
		$('#art_form_reset').on('click', function(){
			$('#art_name').val("");
			$('#artist_name').val("");
    });
	});

</script>