<div class="row mb10">
  <div class="off-3 col-6 off-0-xsmall col-12-xsmall">
    <div class="home-tab-container">
      <div class="row">
        <div class="col-6">
          <header id="ranking_tab" class="major align-center pointer">
            <h3 id="ranking_tab_text">ランキング</h3>
          </header>
        </div>

        <div class="col-6">
          <header id="new_post_tab" class="align-center pointer">
            <h3 id="new_post_tab_text" class="gray">最新の投稿</h3>
          </header>
        </div>
      </div>

      <div id="ranking_sub_tab_container" class="row">
        <div class="off-1 col-5">
          <header id="exhb_tab" class="align-center pointer">
            <h4 id="exhb_tab_text">
              <span id="exhb_tab_arrow" class="pink"><i class="fas fa-chevron-right"></i></span>
              展覧会
            </h4>
          </header>
        </div>
        <div class="col-5">
          <header id="art_tab" class="align-center pointer">
            <h4 id="art_tab_text" class="gray">
              <span id="art_tab_arrow"><i class="fas fa-chevron-right"></i></span>
              作品
            </h4>
          </header>
        </div>
      </div>
    </div>

    <div id="ranking_container">
      <%# 人気の展覧会 %>
      <div id="exhb_container">
        <div class="row">
          <% @exhibitions.each.with_index do |exhb, i| %>
            <div class="col-6">
              <div class="exhb-container">
                <%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
                <% if i < 3 %>
                  <div class="rank-box">
                    <div class="rank-star align-center"><i class="fas fa-star yellow"></i></div>
                    <div class="rank-number align-center bold"><%= i + 1 %></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <%# 人気の作品 %>
      <div id="art_container" class="non-active">
        <div class="row">
          <% @arts.each.with_index do |art, i| %>
            <div class="col-6">
              <div class="art-container">
                <%= render partial: "arts/show", locals: {art: art} %>
                <% if i < 3 %>
                  <div class="rank-box">
                    <div class="rank-star align-center"><i class="fas fa-star yellow"></i></div>
                    <div class="rank-number align-center bold"><%= i + 1 %></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%# 最新の投稿 %>
    <div id="new_post_container" class="non-active">
      <% @exhb_logs.each do |exhb_log| %>
        <% if exhb_log.exhibition.id == 1 %>
          <%= render partial: "logs/show_art_log", locals: {exhb_log: exhb_log} %>
        <% else %>
          <%= render partial: "logs/show", locals: {exhb_log: exhb_log} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'swiper.js' %>

<script type="text/javascript" language="javascript">
    <% if params[:t] == "ranking" %>
      deactivateNewPost();
      activateRanking();
      <% if params[:u] == "exhibition" %>
        deactivateArt();
        activateExhibition();
      <% elsif params[:u] == "art" %>
        deactivateExhibition();
        activateArt();
      <% end %>
    <% elsif params[:t] == "newpost" %>
      deactivateRanking();
      activateNewPost();
    <% end %>
    $('#ranking_tab')[0].onclick = function () {
        deactivateNewPost();
        activateRanking();
    };
    $('#new_post_tab')[0].onclick = function () {
        deactivateRanking();
        activateNewPost();
    };

    function activateRanking() {
        $('#ranking_tab').addClass("major");
        $('#ranking_tab_text').addClass("dark");
        $('#ranking_tab_text').removeClass("gray");
        $('#ranking_sub_tab_container').removeClass("non-active");
        $('#ranking_container').removeClass("non-active");
        $('#header_guide-ranking').removeClass("non-active");
    };

    function deactivateRanking() {
        $('#ranking_tab').removeClass("major");
        $('#ranking_tab_text').removeClass("dark");
        $('#ranking_tab_text').addClass("gray");
        $('#ranking_sub_tab_container').addClass("non-active");
        $('#ranking_container').addClass("non-active");
        $('#header_guide-ranking').addClass("non-active");
    };

    function activateNewPost() {
        $('#new_post_tab').addClass("major");
        $('#new_post_tab_text').addClass("dark");
        $('#new_post_tab_text').removeClass("gray");
        $('#new_post_container').removeClass("non-active");
        $('#header_guide-new_post').removeClass("non-active");
        activateLogs();
    };

    function deactivateNewPost() {
        $('#new_post_tab').removeClass("major");
        $('#new_post_tab_text').removeClass("dark");
        $('#new_post_tab_text').addClass("gray");
        $('#new_post_container').addClass("non-active");
        $('#header_guide-new_post').addClass("non-active");
    };

    $('#exhb_tab')[0].onclick = function () {
        deactivateArt();
        activateExhibition();
    };
    $('#art_tab')[0].onclick = function () {
        deactivateExhibition();
        activateArt();
    };

    function activateExhibition() {
        $('#exhb_tab_text').removeClass("gray");
        $('#exhb_tab_text').addClass("dark");
        $('#exhb_tab_arrow').addClass("pink");
        $('#exhb_container').removeClass("non-active");
        $('#header_guide-ranking_exhb').removeClass("non-active");
    };

    function deactivateExhibition() {
        $('#exhb_tab_text').removeClass("dark");
        $('#exhb_tab_text').addClass("gray");
        $('#exhb_tab_arrow').removeClass("pink");
        $('#exhb_container').addClass("non-active");
        $('#header_guide-ranking_exhb').addClass("non-active");
    };

    function activateArt() {
        $('#art_tab_text').removeClass("gray");
        $('#art_tab').addClass("dark");
        $('#art_tab_arrow').addClass("pink");
        $('#art_container').removeClass("non-active");
        $('#header_guide-ranking_art').removeClass("non-active");
    };

    function deactivateArt() {
        $('#art_tab').removeClass("dark");
        $('#art_tab_text').addClass("gray");
        $('#art_tab_arrow').removeClass("pink");
        $('#art_container').addClass("non-active");
        $('#header_guide-ranking_art').addClass("non-active");
    };

    function activateLogs() {
        <% @exhb_logs.each do |exhb_log| %>
            // Swiper
            swiperWidth = $('.swiper<%= exhb_log.id %>').width();
            var sliderCount = 3;
            var slideOffset = 0;
            <% if exhb_log.art_logs.count == 1 %>
                sliderCount = 1;
                slideOffset = swiperWidth / 3 + 10 / 3;
            <% elsif exhb_log.art_logs.count == 2 %>
                sliderCount = 2;
                slideOffset = swiperWidth / 6 + 10 / 6;
            <% end %>

            var mySwiper<%= exhb_log.id %> = new Swiper('.swiper<%= exhb_log.id %>', {
                navigation: {
                    prevEl: '.prev<%= exhb_log.id %>',
                    nextEl: '.next<%= exhb_log.id %>',
                },
                slidesPerView: 3,
                slidesOffsetBefore: slideOffset,
                spaceBetween: 10,
                initialSlide: 0,
                pagination: {
                    el: '.page<%= exhb_log.id %>',
                    type: 'bullets',
                    clickable: true,
                },
            });
        <% end %>
    }
</script>
