<section>
	<header class="major">
		<h2>展覧会を探す</h2>
	</header>

	<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
		<div class="row gtr-uniform">
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">場所</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :area, value: "", placeholder: params[:area] %>
			</div>
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">展名</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :name, value: "", placeholder: params[:name] %>
			</div>

			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">日時</h3>
			</div>
			<div class="col-5 col-6-xsmall">
				<%= form.date_field :date, value: "", placeholder: params[:date] %>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="検索" class="primary" /></li>
					<li><input type="reset" value="リセット" /></li>
				</ul>
			</div>
		</div>
	<% end %>
</section>

<section>
	<header class="major">
		<h2>美術館を探す</h2>
	</header>

	<%= form_with(url: museums_path, method: :get, local: true) do |form| %>
		<div class="row gtr-uniform">
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">場所</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :area, value: "", placeholder: params[:area] %>
			</div>
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">館名</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :name, value: "", placeholder: params[:name] %>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="検索" class="primary" /></li>
					<li><input type="reset" value="リセット" /></li>
				</ul>
			</div>
		</div>
	<% end %>
</section>

<section>
  <header class="major">
    <h2>おすすめの展覧会</h2>
  </header>
	<div class="features">
		<% @exhibitions.each do |exhb| %>
			<article>
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</article>
		<% end %>
	</div>
</section>

