<div class="tab-container">
	<div class="flex-container space-evenly baseline">
		<h3 class="mb0">
			<header id="museum_tab" class="header-tab align-center cursor">
				<div id="museum_tab_text" class="gray">美術館</div>
			</header>
		</h3>

		<h3 class="mb0">
			<header id="exhb_tab" class="header-tab highlight align-center cursor">
				<div id="exhb_tab_text">展覧会</div>
			</header>
		</h3>

		<h3 class="mb0">
			<header id="art_tab" class="header-tab align-center cursor">
				<div id="art_tab_text" class="gray">作品・作者</div>
			</header>
		</h3>
	</div>
</div>

<div id="museum_container" class="non-active">
	<div class="search-field">
		<%= render partial: "museums/search", locals: {path: search_path} %>
	</div>

	<div class="row">
		<% @museums.each do |museum| %>
			<div class="col-3 col-6-xsmall">
				<div class="museum-container">
					<%= render partial: "museums/show", locals: {museum: museum} %>
				</div>
			</div>
		<% end %>
	</div>
</div>


<div id="exhb_container">
	<div class="search-field">
		<%= render partial: "exhibitions/search", locals: {path: search_path} %>
	</div>

	<div class="row">
		<% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall">
				<div class="exhb-container">
					<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div id="art_container" class="non-active">
	<div class="search-field">
		<%= render partial: "arts/search", locals: {path: search_path} %>
	</div>

	<div class="row">
		<% @arts.each do |art| %>
			<div class="col-3 col-6-xsmall">
				<div class="art-container">
					<%= render partial: "arts/show", locals: {art: art} %>
				</div>
			</div>
		<% end %>
	</div>
</div>


<script type="text/javascript" language="javascript">
	// タブ切り替え
	<% if params[:museum_area].present? || params[:museum_name].present? %>
		deactivateExhibition();
		deactivateArt();
		activateMuseum();
	<% elsif params[:art_name].present? || params[:artist_name].present? %>
		deactivateMuseum();
		deactivateExhibition();
		activateArt();
	<% end %>

	$('#museum_tab')[0].onclick = function () {
		deactivateExhibition();
		deactivateArt();
		activateMuseum();
  }
	$('#exhb_tab')[0].onclick = function () {
		deactivateArt();
		deactivateMuseum();
		activateExhibition();
  }
  $('#art_tab')[0].onclick = function () {
		deactivateMuseum();
		deactivateExhibition();
		activateArt();
	}

	function activateMuseum() {
		$('#museum_tab').addClass("highlight")
    $('#museum_tab_text').removeClass("gray")
		$('#museum_tab_text').addClass("dark")
		$('#museum_container').removeClass("non-active")
	}

	function deactivateMuseum() {
		$('#museum_tab').removeClass("highlight")
    $('#museum_tab_text').removeClass("dark")
		$('#museum_tab_text').addClass("gray")
		$('#museum_container').addClass("non-active")
	}

	function activateExhibition() {
		$('#exhb_tab').addClass("highlight")
    $('#exhb_tab_text').removeClass("gray")
		$('#exhb_tab_text').addClass("dark")
		$('#exhb_container').removeClass("non-active")
	}

	function deactivateExhibition() {
		$('#exhb_tab').removeClass("highlight")
    $('#exhb_tab_text').removeClass("dark")
		$('#exhb_tab_text').addClass("gray")
		$('#exhb_container').addClass("non-active")
	}

	function activateArt() {
		$('#art_tab').addClass("highlight")
    $('#art_tab_text').removeClass("gray")
		$('#art_tab').addClass("dark")
		$('#art_container').removeClass("non-active")

	}

	function deactivateArt() {
		$('#art_tab').removeClass("highlight")
    $('#art_tab').removeClass("dark")
		$('#art_tab_text').addClass("gray")
		$('#art_container').addClass("non-active")
	}

</script>
