<h1>検索</h1>

<h2>近くの展覧会を探す</h2>

<h2>場所と日時から探す</h2>
<%= form_with(scope: :search, url: exhibitions_path, method: :get, local: true) do |form| %>
	場所：<%= form.text_field :area %>
	日時：<%= form.date_field :date %>
	<%= form.submit "検索" %>
<% end %>

<h2>美術館から探す</h2>
<%= form_with(scope: :search, url: museums_path, method: :get, local: true) do |form| %>
	場所：<%= form.text_field :area %>
	<%= form.submit "検索" %>
<% end %>

<h1>おすすめの展覧会一覧</h1>
<%= render "exhibitions/index" %>