<section>
	<div class="row">
		<div class="col-6 col-12-xsmall">
			<header class="major align-center">
				<h2>美術館を探す</h2>
			</header>

			<%= form_with(url: museums_path, method: :get, local: true) do |form| %>
				<div class="row mb10">
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :museum_area, value: params[:museum_area], placeholder: "場所（例:東京）" %>
					</div>
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :museum_name, value: params[:museum_name], placeholder: "館名（例:国立西洋美術館）" %>
					</div>
				</div>
				<div class="row mb10">
					<div class="col-3 col-6-xsmall aln-center"><div id="museum_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
					<div class="col-3 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
				</div>
			<% end %>
		</div>

		<div class="col-6 col-12-xsmall">
			<header class="major align-center">
				<h2>展覧会を探す</h2>
			</header>

			<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
				<div class="row mb10">
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :exhb_area, value: params[:exhb_area], placeholder: "場所（例:東京）" %>
					</div>
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :exhb_name, value: params[:exhb_name], placeholder: "展名（例:モネ）" %>
					</div>
				</div>
				<div class="row mb10">
					<div class="col-2 off-2-xsmall col-3-xsmall">
						<h3 class="align-center mb0">開催日</h3>
					</div>
					<div class="col-6 col-6-xsmall">
						<%= form.date_field :exhb_date, value: params[:exhb_date], placeholder: Date.today %>
					</div>
				</div>
				<div class="row mb10">
					<div class="col-3 col-6-xsmall aln-center"><div id="exhb_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
					<div class="col-3 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
				</div>
			<% end %>
		</div>

		<div class="col-6 col-12-xsmall">
			<header class="major align-center">
				<h2>作品を探す</h2>
			</header>

			<%= form_with(url: arts_path, method: :get, local: true) do |form| %>
				<div class="row mb10">
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :art_name, value: params[:art_name], placeholder: "作品名（例:ひまわり）" %>
					</div>
					<div class="col-4 col-6-xsmall">
						<%= form.text_field :artist_name, value: params[:artist_name], placeholder: "作者名（例:ゴッホ）" %>
					</div>
				</div>
				<div class="row mb10">
					<div class="col-3 col-6-xsmall aln-center"><div id="art_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
					<div class="col-3 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
				</div>
				</div>
			<% end %>
		</div>
	</div>
</section>

<section>
  <header class="major align-center">
    <h2>あなたにおすすめの展覧会</h2>
  </header>
	<div class="row">
		<% @exhibitions.each do |exhb| %>
			<div class="col-3 col-6-xsmall">
				<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
			</div>
		<% end %>
	</div>
</section>

