<h1>トレンド</h1>
<h2>人気の展覧会</h2>
<% @exhibitions.each do |exhb| %>
	<%= link_to exhibition_path(exhb) do %>
		<% if exhb.image.present? %>
			<%= image_tag exhb.image %>
		<% end %>
		<div><%= exhb.name %></div>
		<% if exhb.star %>
			<div>★<%= exhb.star.round(2) %></div>
		<% end %>
	<% end %>
	<br>
<% end %>

<h2>人気の作品</h2>
<% @arts.each do |art| %>
	<%= link_to art_path(art) do %>
		<div><%= image_tag art.image_url(:thumb) if art.image.present? %></div>
		<div><%= art.name %></div>
		<div><%= art.artist.name %></div>
		<% if art.star.present? %>
			<div>★<%= art.star.round(2) %></div>
		<% end %>
	<% end %>
	<br>
<% end %>
