<% arts.each do |art| %>
  <article>
    <% if art.liked_thumb.present? %>
      <span><a href="/arts/<%=art.id%>" class="image mr10"><%= image_tag art.liked_thumb %></a></span>
    <% else%>
      <span><a href="/arts/<%=art.id%>" class="icon fa-gem mr10"></a></span>
    <% end %>
    <div class="content">
      <p>
        <h3><a href="/arts/<%=art.id%>"><%= art.name %></a></h3>
        <% if art.star.present? %>
          <h2><i class="fas fa-star yellow"></i><%= art.star.round(2) %></h2>
        <% end %>
        <div>作者：<%= art.artist.name %></div>
        <div>制作年：<%= art.year %>年</div>
      </p>
    </div>
	</article>
<% end %>