<% if params[:controller] == "logs" %>
  <% url = "/logs/new/?a=#{art.id}" %>
<% else %>
  <% url = "/arts/#{art.id}" %>
<% end %>

<a href="<%= url %>">
  <div class="adjust-box box-1x1">
    <div class="inner-box align-center" style="background-color:#f5f6f7;">
      <% if art.image.present? %>
        <%= image_tag art.image, class: "w100 h100 image", style: "object-fit:cover;" %>
      <% elsif art.liked_image.present? %>
        <%= image_tag art.liked_image.to_s, class: "w100 h100 image", style: "object-fit:cover;" %>
      <% else %>
        <div class="flex-container vertical">
          <h3 class="gray mb0"><i class="fas fa-camera"></i></h3>
          <div class="gray">NO IMAGE</div>
        </div>
      <% end %>
    </div>
  </div>
</a>

<div class="content mt10 mb0">
  <h3 class="align-center mb10 wrap_3 outer"><div class="inner"><a href="<%= url %>">
    <% if art.name.length > 27 %>
      <%= art.name.first(26) %>...
    <% else %>
      <%= art.name %>
    <% end %>
  </a></div></h3>
  <h2 class="row mb10">
    <div class="off-1 col-8">
      <i class="fas fa-star yellow"></i>
      <% if art.star.present? %>
        <span><%= art.star.round(2) %></span>
      <% else %>
        <span>&nbsp;-&nbsp;</span>
      <% end %>
      <span class="denominator">/3</span>
    </div>
    <div class="col-2 pl0 align-center">
      <a href="/logs/new/?a=<%=art.id%>"><i class="fas fa-edit"></i></a>
    </div>
  </h2>
  <div class="align-center">
    <div>作：
      <% if art.artist.name.length > 9 %>
        <%= art.artist.name.first(8) %>...
      <% else %>
        <%= art.artist.name %>
      <% end %>
    </div>
    <div class="mb10">
      <% if art.year.present? %>
        <span>（<%= art.year %>年）</span>
      <% end %>
    </div>
    <% if params[:controller] != "exhibitions" %>
      <% if art.exhibition.name.present? %>
        <div>展：
          <a href="/exhibitions/<%=art.exhibition.id%>" class="bb0 gray">
            <% if art.exhibition.name.length > 9 %>
              <%= art.exhibition.name.first(8) %>...
            <% else %>
              <%= art.exhibition.name %>
            <% end %>
          </a>
        </div>
      <% else %>
        <div>　</div>
      <% end %>
    <% end %>
  </div>
</div>

