<% if art.image.present? %>
  <div class="image mr10 w100"><a href="/arts/<%=art.id%>" class=""><%= image_tag art.image, class: "w100" %></a></div>
<% elsif art.liked_image.present? %>
  <div class="image mr10 w100"><a href="/arts/<%=art.id%>" class=""><%= image_tag art.liked_image.to_s, class: "w100" %></a></div>
<% else %>
  <div class="adjust-box box-1x1">
    <div class="inner-box align-center">
      <a href="/arts/<%=art.id%>" class="icon fa-gem gray" style="font-size:4em;"></a>
    </div>
  </div>
  <div class="image"></div>
<% end %>

<div class="content mt10 mb20">
  <h3 class="align-center mb10"><a href="/arts/<%=art.id%>"><%= art.name %></a></h3>
  <h2 class="row mb10">
    <div class="off-1 col-8">
      <i class="fas fa-star yellow"></i>
      <% if art.star.present? %>
        <span><%= art.star.round(2) %></span>
      <% else %>
        <span>&nbsp;-&nbsp;</span>
      <% end %>
      <span class="denominator">/3</span>
    </div>
    <div class="col-2 pl0 align-center">
      <a href="/arts/<%=art.id%>/art_logs/new"><i class="fas fa-edit"></i></a>
    </div>
  </h2>
  <div class="align-center">
    <div><%= art.artist.name %>作</div>
    <div class="mb10">
      <% if art.year.present? %>
        <span>（<%= art.year %>年）</span>
      <% end %>
    </div>
    <% if controller.controller_name != "exhibitions" %>
      <div><a href="/exhibitions/<%=art.exhibition.id%>" class="bb0 gray"><%= art.exhibition.name %></a></div>
    <% end %>
  </div>
</div>

