<section>
	<header class="major">
		<h2><%= @art.name %></h2>
	</header>

	<div class="row">
		<div class="col-6 col-12-xsmall">
			<div>
				<% if @art.image.present? %>
					<%= image_tag @art.image.to_s, class: "image", width: "100%" %>
				<% else %>
					<%= image_tag @art.liked_image.to_s, class: "image", width: "100%" if @art.liked_image.present? %>
				<% end %>
			</div>

			<p>
				<% if @art.star.present? %>
					<h1><i class="fas fa-star yellow"></i><%= @art.star.round(2) %></h1>
				<% end %>
				<div><%= @art.artist.name %>作</div>
				<div><%= @art.year %>年</div>
			</p>
		</div>

		<div class="col-6 col-12-xsmall">
			<header class="major">
				<h2>この作品を展示している展覧会</h2>
			</header>
			<% exhb = @art.exhibition %>
			<div class="mb10"><%= render partial: "exhibitions/show", locals: {exhb: exhb} %></div>

			<% if @art_logs.present? %>
				<header class="major">
					<h2>作品のログ</h2>
				</header>
				<%= render partial: "art_logs/index", locals: {art_logs: @art_logs} %>
			<% end %>
		</div>
	</div>
</section>
