<section>
	<header class="major">
		<h2><%= @art.name %></h2>
	</header>

	<div class="row">
		<div class="col-6 col-12-xsmall">
			<%= image_tag @art.liked_image.to_s, width: "100%" if @art.liked_image.present?%>
			<h3>作者</h3>
				<%= @art.artist.name %>
			<div>制作年：<%= @art.year %></div>
			<% if @art.star.present? %>
				<div>★<%= @art.star.round(2) %></div>
			<% end %>
		</div>
		<div class="col-6 col-12-xsmall">
			<header class="major">
				<h2>この作品を展示している展覧会</h2>
			</header>
			<% exhb = @art.exhibition %>
			<% if exhb.image.present? %>
				<span><a href="/exhibitions/<%=exhb.id%>" class="image"><%= image_tag exhb.image, width: "100%" %></a></span>
			<% else%>
				<span><a href="/arts/<%=art.id%>" class="icon fa-gem mr10"></a></span>
			<% end %>
			<p>
				<h3><a href="/exhibitions/<%=exhb.id%>"><%= exhb.name %></a></h3>
				<div>@<%= exhb.museum.name %></div>
				<div><%= exhb.start_date %>〜<%= exhb.end_date %></div>
				<% if exhb.star.present? %>
					<div>★<%= exhb.star.round(2) %></div>
				<% end %>
			</p>

			<header class="major">
				<h2>作品のログ一覧</h2>
			</header>
			<%= render partial: "art_logs/index", locals: {art_logs: @art_logs} %>
		</div>
	</div>
</section>
