<section>
	<header class="major align-center">
		<h2><%= @art.name %></h2>
	</header>

	<div class="row">
		<% if @art.exhibition_id == 1 %>
			<div class="col-4 col-12-xsmall"></div>
		<% end %>
		<div class="col-4 col-12-xsmall">
			<div>
				<% if @art.image.present? %>
					<%= image_tag @art.image.to_s, class: "image", width: "100%" %>
				<% elsif @art.liked_image.present? %>
					<%= image_tag @art.liked_image.to_s, class: "image", width: "100%" %>
				<% else %>
					<div class="adjust-box box-16x9">
						<div class="inner-box align-center">
							<div class="icon fa-gem gray" style="font-size:4em;"></div>
						</div>
					</div>
					<div class="image"></div>
				<% end %>
			</div>

			<div class="row">
				<div class="off-1 col-6">
					<h2 class="mobile-fs3em mb10">
						<i class="fas fa-star yellow"></i>
						<% if @art.star.present? %>
							<span><%= @art.star.round(2) %></span>
						<% else %>
							<span>&nbsp;-&nbsp;</span>
						<% end %>
						<span class="denominator">/3</span>
					</h2>
				</div>
				<div class="off-1 col-3 align-center">
					<h2 class="mobile-fs3em mb10"><a href="/arts/<%= @art.id %>/art_logs/new"><i class="fas fa-edit"></i></a></h2>
				</div>
			</div>

			<div class="align-center">
				<strong><%= @art.name %></strong>
				<div><%= @art.artist.name %>作</div>
				<% if @art.year.present? %>
					<div>（<%= @art.year %>年）</div>
				<% end %>
			</div>
		</div>

		<% if @art.exhibition_id != 1 %>
			<div class="mt20 col-8 col-12-xsmall">
				<header class="major align-center">
					<h2>この作品を展示している展覧会</h2>
				</header>
				<div class="row">
					<div class="off-4 col-4 off-3-xsmall col-6-xsmall">
						<div class="mb10"><%= render partial: "exhibitions/show", locals: {exhb: @art.exhibition} %></div>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div>
		<% if @art_logs.present? %>
			<header class="mt20 major align-center">
				<h2>この作品のログ</h2>
			</header>
			<%= render partial: "art_logs/index", locals: {art_logs: @art_logs} %>
		<% end %>
	</div>
</section>
