<section>
	<%= form_with(url: museums_path, method: :get, local: true) do |form| %>
		<div class="row gtr-uniform">
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">位置</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :area, value: "", placeholder: params[:area] %>
			</div>
			<div class="col-1 col-2-xsmall">
				<h3 class="align-center pt5">館名</h3>
			</div>
			<div class="col-5 col-4-xsmall">
				<%= form.text_field :name, value: "", placeholder: params[:name] %>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="検索" class="primary" /></li>
					<li><input type="reset" value="リセット" /></li>
				</ul>
			</div>
		</div>
	<% end %>

	<% @museums.each do |museum| %>
		<%= link_to museum_path(museum) do %>
			<div>
				<header class="major">
					<h3><%= museum.name %></h3>
				</header>
				<div class="image">
					<%= image_tag museum.image, width: "100%" if museum.image.present? %>
				</div>
			</div>
		<% end %>

		<% if museum.exhibitions.present? %>
			<header>
				<h3 class="mt10">開催中の展覧会</h3>
			</header>
			<div class="features">
				<% museum.exhibitions.each do |exhb| %>
					<article>
						<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
					</article>
				<% end %>
			</div>
		<% end %>
	<% end %>

</section>