<h1>美術館を検索</h1>
<%= form_with(scope: :search, url: museums_path, method: :get, local: true) do |form| %>
	場所：<%= form.text_field :area, value: @search_params[:area] %>
	<%= form.submit "検索" %>
<% end %>

<h2>検索結果（<%= @museums.count %>件）</h2>

<% @museums.each do |museum| %>
	<%= link_to museum_path(museum) do %>
		<div>
			<h3><%= museum.name %></h3>
			<% if museum.image %>
				<%= image_tag museum.image %>
			<% end %>
		</div>
	<% end %>
	<% if museum.exhibitions.present? %>
			<div class="bold">[開催中の展覧会]</div>
			<% museum.exhibitions.each do |exhb| %>
				<%= link_to exhibition_path(exhb) do %>
					<div class="bold"><%= exhb.name %></div>
					<div><%= exhb.start_date %>〜<%= exhb.end_date %></div>
					<% if exhb.star %>
						<div>★<%= exhb.star.round(2) %></div>
					<% end %>
					<% if exhb.image %>
						<%= image_tag exhb.image %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<br>
<% end %>
