<section>
	<form method="get" action="/museums" accept-charset="UTF-8">
		<div class="row gtr-uniform">
			<div class="col-1 col-3-xsmall">
				<h3>エリア</h3>
			</div>
			<div class="col-5 col-9-xsmall">
				<input type="text" name="search[area]" id="search_area" value="" placeholder="東京" />
			</div>
			<!-- Break -->
			<div class="col-4 col-12-xsmall">
				<ul class="actions">
					<li><input type="submit" value="検索" class="primary" /></li>
					<li><input type="reset" value="リセット" /></li>
				</ul>
			</div>
		</div>
	</form>

	<header class="major">
		<h2>検索結果（<%= @museums.count %>件）</h2>
	</header>

	<% @museums.each do |museum| %>
		<%= link_to museum_path(museum) do %>
			<div>
				<header class="major">
					<h3><%= museum.name %></h3>
				</header>
				<div class="image">
					<%= image_tag museum.image, width: "100%" if museum.image.present? %>
				</div>
			</div>
		<% end %>

		<% if museum.exhibitions.present? %>
			<header>
				<h3>開催中の展覧会</h3>
			</header>
			<div class="features">
				<% museum.exhibitions.each do |exhb| %>
					<article>
						<%= render partial: "exhibitions/show", locals: {exhb: exhb} %>
					</article>
				<% end %>
			</div>
		<% end %>
	<% end %>

</section>