<section>
	<header class="major">
		<h2><%= @museum.name %></h2>
	</header>

	<div class="row">
		<div class="col-6 col-12-xsmall image">
			<%= image_tag @museum.image, width: "100%" if @museum.image.present? %>

			<p>
				<h3>住所</h3>
				<p><%= @museum.address %></p>

				<h3>お問い合わせ先</h3>
				<p><%= @museum.phone %></p>

				<h3>公式サイト</h3>
				<% if @museum.website.present? %>
					<p><%= link_to @museum.website, @museum.website, target: :_blank %></p>
				<% end %>
			</p>
		</div>

		<div class="col-6 col-12-xsmall">
			<header>
				<h2>開催中の展覧会一覧</h2>
			</header>
			<%= render partial: "exhibitions/index", locals: {exhibitions: @exhibitions} %>
		</div>
	</div>
</section>