<div id="main">
<div class="inner">

<header id="header">
  <span class="logo">
    <a href="/" class="logo"><%= image_tag "stART-logo.jpg", height: "15px" %></a>
  </span>
</header>

<section>
	<div class="flex-container center baseline">
    <h3 class="mb0">
      <header id="museum_tab" class="align-center cursor">
        <div id="museum_tab_text" class="gray">美術館</div>
      </header>
    </h3>

		<h3 class="mb0">
      <header id="exhb_tab" class="major align-center cursor">
        <div id="exhb_tab_text">展覧会</div>
      </header>
    </h3>

		<h3 class="mb0">
      <header id="art_tab" class="align-center cursor">
        <div id="art_tab_text" class="gray">作品・作者</div>
      </header>
    </h3>
  </div>

	<div id="museum_content" class="non-active">
		<%= form_with(url: museums_path, method: :get, local: true) do |form| %>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall">
					<%= form.text_field :museum_area, value: params[:museum_area], placeholder: "場所（例:東京）" %>
				</div>
				<div class="col-4 col-6-xsmall">
					<%= form.text_field :museum_name, value: params[:museum_name], placeholder: "館名（例:国立新美術館）" %>
				</div>
			</div>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall aln-center"><div id="museum_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
				<div class="col-4 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
			</div>
		<% end %>

		<div class="row">
			<% museums.each do |museum| %>
				<div class="col-3 col-6-xsmall">
          <header class="major align-center">
            <h4 style="margin-bottom:1em;"><%= museum.name %></h4>
          </header>

					<% if museum.exhibitions.is_open.present? %>
						<div class="align-center dark mb5">開催中の展覧会</div>
						<%= render partial: "logs/exhb_search", locals: { exhb: museum.exhibitions.is_open.last } %>
					<% else %>
					<div class="align-center mb5">過去の展覧会</div>
						<%= render partial: "logs/exhb_search", locals: { exhb: museum.exhibitions.last } %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div id="exhb_content">
		<%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall">
					<%= form.text_field :exhb_area, value: params[:exhb_area], placeholder: "場所（例:東京）" %>
				</div>
				<div class="col-4 col-6-xsmall">
					<%= form.text_field :exhb_name, value: params[:exhb_name], placeholder: "展名（例:ゴッホ展）" %>
				</div>
			</div>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-4-xsmall align-center">
					<div class="align-right mt5 mb0">開催日</div>
				</div>
				<div class="col-6 col-6-xsmall">
					<%= form.date_field :exhb_date, value: params[:exhb_date], placeholder: Date.today %>
				</div>
			</div>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall aln-center"><div id="exhb_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
				<div class="col-4 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
			</div>
		<% end %>

		<div class="row">
			<% exhibitions.each do |exhb| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "logs/exhb_search", locals: {exhb: exhb} %>
				</div>
			<% end %>
		</div>
	</div>

	<div id="art_content" class="non-active">
		<%= form_with(url: arts_path, method: :get, local: true) do |form| %>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall">
					<%= form.text_field :art_name, value: params[:art_name], placeholder: "作品名（例:ひまわり）" %>
				</div>
				<div class="col-4 col-6-xsmall">
					<%= form.text_field :artist_name, value: params[:artist_name], placeholder: "作者名（例:ゴッホ）" %>
				</div>
			</div>
			<div class="row mb10">
				<div class="off-2 col-4 off-0-xsmall col-6-xsmall aln-center"><div id="art_form_reset" class="w100 pink mt5" style="text-align:center;" tabindex="0">リセット</div></div>
				<div class="col-4 col-6-xsmall align-center"><input type="submit" value="検索" class="primary" /></div>
			</div>
		<% end %>

		<div class="row">
			<% arts.each do |art| %>
				<div class="col-3 col-6-xsmall">
					<%= render partial: "logs/art_search", locals: {art: art} %>
				</div>
			<% end %>
		</div>
	</div>
</section>

</div>
</div>


<script type="text/javascript" language="javascript">
	$('#museum_tab')[0].onclick = function () {
		deactivateExhibition();
		deactivateArt();
		activateMuseum();
  }
	$('#exhb_tab')[0].onclick = function () {
		deactivateArt();
		deactivateMuseum();
		activateExhibition();
  }
  $('#art_tab')[0].onclick = function () {
		deactivateMuseum();
		deactivateExhibition();
		activateArt();
	}

	function activateMuseum() {
		$('#museum_tab').addClass("major")
    $('#museum_tab_text').removeClass("gray")
		$('#museum_tab_text').addClass("dark")
		$('#museum_content').removeClass("non-active")
	}

	function deactivateMuseum() {
		$('#museum_tab').removeClass("major")
    $('#museum_tab_text').removeClass("dark")
		$('#museum_tab_text').addClass("gray")
		$('#museum_content').addClass("non-active")
	}

	function activateExhibition() {
		$('#exhb_tab').addClass("major")
    $('#exhb_tab_text').removeClass("gray")
		$('#exhb_tab_text').addClass("dark")
		$('#exhb_content').removeClass("non-active")
	}

	function deactivateExhibition() {
		$('#exhb_tab').removeClass("major")
    $('#exhb_tab_text').removeClass("dark")
		$('#exhb_tab_text').addClass("gray")
		$('#exhb_content').addClass("non-active")
	}

	function activateArt() {
		$('#art_tab').addClass("major")
    $('#art_tab_text').removeClass("gray")
		$('#art_tab').addClass("dark")
		$('#art_content').removeClass("non-active")

	}

	function deactivateArt() {
		$('#art_tab').removeClass("major")
    $('#art_tab').removeClass("dark")
		$('#art_tab_text').addClass("gray")
		$('#art_content').addClass("non-active")
	}

</script>