<div class="row">
  <div class="off-4 col-4 off-0-xsmall col-12-xsmall">
    <% if art.image.present? %>
      <%= image_tag art.image, class: "image w100" %>
    <% else %>
      <div class="adjust-box box-16x9">
        <div class="inner-box align-center">
          <div class="icon fa-gem gray" style="font-size:3em;"></div>
        </div>
      </div>
      <div class="image"></div>
    <% end %>

    <div class="align-center">
      <strong class="light-gray"><%= art.name %></strong>
      <div><%= art.artist.name %>作</div>
      <% if art.year.present? %>
        <div>（<%= art.year %>年）</div>
      <% end %>
    </div>

    <h1 class="align-center mb10">
      <span class="art<%= i %>_star1 star mb0 light-gray"><i class="fas fa-star"></i></span>
      <span class="art<%= i %>_star2 star mb0 light-gray"><i class="fas fa-star"></i></span>
      <span class="art<%= i %>_star3 star mb0 light-gray"><i class="fas fa-star"></i></span>
    </h1>
    <div class="mb10">
      <textarea rows="1" placeholder="感想..." name="exhb_log[art_logs_attributes][<%= i %>][body]" id="exhb_log_art_logs_attributes_<%= i %>_body" spellcheck="false"></textarea>
    </div>
    <div class="close_btn_<%= i %> w100 align-center mb20">
      <div class="w30 button primary" tabindex="0">決定</div>
    </div>
  </div>
</div>