<div class="adjust-box box-1x1">
  <div class="inner-box align-center">
    <% if art.image.present? %>
      <%= image_tag art.image, id: "art_log_#{i}", class: "w100 h100 image", style: "object-fit: cover;" %>
    <% else %>
      <i class="far fa-gem" id="art_log_<%= i %>"></i>
    <% end %>


    <div class="bg-art-stars"></div>
    <div class="flex-container space-evenly center art-stars">
      <h3 class="mb0">
        <span class="art<%= i %>_star1 star mb0 light-gray"><i class="fas fa-star"></i></span>
        <span class="art<%= i %>_star2 star mb0 light-gray"><i class="fas fa-star"></i></span>
        <span class="art<%= i %>_star3 star mb0 light-gray"><i class="fas fa-star"></i></span>
      </h3>
    </div>
  </div>
</div>

<div class="art-name-container">
  <div class="align-center dark">
    <%= art.name.first(6) %><% if art.name.length > 6 %>...<% end %>
  </div>
</div>