<section>
	<header class="major">
		<h2><%= @exhibition.name %></h2>
	</header>

	<%= form_for(@exhb_log, url: exhibition_logs_path) do |exhb_log_form| %>
		<div>
			<h1><i class="fas fa-star yellow"></i></h1>
			<%= exhb_log_form.range_field :star, min: 0.0, max: 3.0, step: '0.5', value: 0.0 %><span id="star">0.0</span>
		</div>

		<div>
			コメント：<%= exhb_log_form.text_area :body, size: "30x2" %>
		</div>
</section>
<section>
		<% if @arts.present? %>
			<header class="major">
				<h2>作品一覧</h2>
			</header>
			<% @arts.each do |art| %>
				<%= image_tag art.liked_thumb, width: "200px" if art.liked_thumb.present? %>
				<div class="bold"><%= art.name %></div>
				<div>作者：<%= art.artist.name %></div>
				<div>制作年：<%= art.year %></div>

				<%= exhb_log_form.fields_for :art_logs do |art_log_fields| %>
					<%= art_log_fields.hidden_field :art_id, value: art.id %>
					<div>★<%= art_log_fields.number_field :star, min: 0, max: 3 %>つ</div>
					<div>コメント：<%= art_log_fields.text_area :body, size: "30x1" %></div>
					<div><%= art_log_fields.file_field :image %></div>
				<% end %>
				<br>
			<% end %>
		<% end %>

		<div>
			<%= exhb_log_form.submit "保存" %>
		</div>
	<% end %>
</section>


<script type="text/javascript" language="javascript">
	var target = document.getElementById('exhb_log_star');
	var output = document.getElementById('star');

	target.oninput = function() {
    output.textContent = Number(target.value).toFixed(1);
  };
</script>
