<% if params[:e].present? %>
  <% e = Exhibition.find(params[:e]) %>
  <%= hidden_field_tag "e_id", e.id %>
<% end %>
<% if params[:a].present? %>
  <% a = Art.find(params[:a]) %>
  <%= hidden_field_tag "a_id", a.id %>
<% end %>

<%= form_with(url: logs_path) do |form| %>
  <div class="row">
    <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
      <div class="new-log-container">
        <div class="row">

          <div class="col-8">
            <div class="row">
              <%# User icon %>
              <div class="col-2 col-3-xsmall">
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image.to_s, class: "w100 image circle" %>
                <% else %>
                  <%= image_tag "default-profile-image.png", class: "w100 image circle" %>
                <% end %>
              </div>
              <%# Slider %>
              <div class="col-5" style="padding-top:7px">
                <% if params[:e].present? %>
                  <input type="range" class="input-range" min="0.0" max="3.0" step="0.5" value="0.0" name="main_star" id="main_star_slider">
                <% elsif params[:a].present? %>
                  <input type="range" class="input-range" min="0.0" max="3.0" step="1.0" value="0.0" name="main_star" id="main_star_slider">
                <% else %>
                  <input type="range" class="input-range" min="0.0" max="3.0" step="0.5" value="0.0" name="main_star" id="main_star_slider">
                <% end %>
              </div>
              <%# Star count %>
              <div class="col-4 flex-container baseline pt5">
                <h2>
                  <i class="fas fa-star yellow"></i>
                </h2>
                <h2 id="main_star_count">0.0</h2>
                <span>/3</span>
              </div>
            </div>

            <%# ターゲット情報 %>
            <div class="mb10">
              <%# 展覧会情報 %>
              <% if params[:e].present? %>
                <% if e.name.length > 14 %>
                  <div>展：<%= e.name.first(13) %>...</div>
                <% else %>
                  <div>展：<%= e.name %></div>
                <% end %>

                <% if e.museum.name.present? %>
                  <% if e.museum.name.length > 14 %>
                    <div>館：<%= e.museum.name.first(13) %>...</div>
                  <% else %>
                    <div>館：<%= e.museum.name %></div>
                  <% end %>
                <% end %>

              <%# 作品情報 %>
              <% elsif params[:a].present? %>
                <% if a.name.length > 14 %>
                  <div>題：<%= a.name.first(13) %>...</div>
                <% else %>
                  <div>題：<%= a.name %></div>
                <% end %>

                <% if a.artist.name.present? %>
                  <% if a.artist.name.length > 14 %>
                    <div>作：<%= a.artist.name.first(13) %>...</div>
                  <% else %>
                    <div>作：<%= a.artist.name %></div>
                  <% end %>
                <% end %>

                <% if a.year.present? %>
                  <div>（<%= a.year %>）</div>
                <% end %>
              <% end %>
            </div>

            <%# Body form %>
            <%= form.text_area :body, rows: "2", placeholder: "感想..." %>
          </div>

          <%# ターゲット選択エリア %>
          <div class="col-4">
            <%# 展覧会画像表示 %>
            <% if params[:e].present? %>
              <div id="select-target-area" class="adjust-box box-3x4 cursor">
                <h2 class="inner-box align-center">
                  <%= image_tag e.image, class: "image w100 mt10" %>
                </h2>
              </div>
            <%# 作品画像表示 %>
            <% elsif params[:a].present? %>
              <div id="select-target-area" class="adjust-box box-3x4 cursor">
                <h2 class="inner-box align-center">
                  <%= image_tag a.image, class: "image w100 mt10" %>
                </h2>
              </div>
            <%# ターゲット選択ボタン %>
            <% else %>
              <div id="select-target-area" class="adjust-box box-3x4 cursor select-target-area">
                <h2 class="inner-box align-center">
                  <i class="fas fa-plus dark"></i>
                </h2>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 作品ログフォーム表示 %>
  <% if params[:e].present? %>
    <div class="row">
      <% e.arts.each.with_index do |art, i| %>
        <input value="0" type="hidden" name="exhb_log[art_logs_attributes][<%= i %>][star]" id="exhb_log_art_logs_attributes_<%= i %>_star">
        <%# 作品ログフォーム %>
        <div class="col-3 col-4-xsmall mb10">
          <%= render partial: "logs/show_art_form", locals: {art: art, i: i} %>
        </div>

        <%# 作品ログフォームモーダル %>
        <div id="overlay_art_<%= i %>" class="overlay non-active">
          <div class="modal_art">
            <%= render partial: "logs/show_modal_art_form", locals: {art: art, i: i} %>
          </div>
          <div class="close_btn_<%= i %> close_btn"></div>
        </div>
      <% end %>
    </div>
  <%# 作品ログ画像投稿フォーム %>
  <% elsif params[:a].present? %>
    <input type="file" name="exhb_log[art_logs_attributes][0][image]" id="exhb_log_art_logs_attributes_0_image" style="display:none">
    <label for="exhb_log_art_logs_attributes_0_image" class="mb0">
      <div class="button primary small w100" id="art_image_upload_button">画像をアップロード</div>
    </label>
    <div id="art_image_preview" class="mt20" onclick="$('#exhb_log_art_logs_attributes_0_image').click()">
      <div class="adjust-box box-16x9 image">
        <div class="inner-box align-center">
          <div class="icon fa-gem gray" style="font-size:3em;"></div>
        </div>
      </div>
    </div>
  <% end %>

  <%# 保存ボタン %>
  <% if params[:e].present? || params[:a].present? %>
    <strong id="save_btn" class="save-btn pink">保存</strong>
  <% end %>
<% end %>

<%# 検索モーダル %>
<div id="overlay" class="non-active">
  <div id="search_modal">
    <%= render partial: "pages/search", locals: {museums: @museums, exhibitions: @exhibitions, arts: @arts} %>
  </div>
</div>



<script type="text/javascript" language="javascript">
  // select-field クリックしたら検索に飛ぶ
  $overlay = $('#overlay')
  $('#select-target-area').on('click', function(){
    $overlay.removeClass("non-active");
    $overlay.fadeIn();
  });

  // 検索のパラメーターがあれば検索に飛ばす
  <% if params[:museum_area].present? || params[:museum_name].present? %>
    $overlay.removeClass("non-active");
    deactivateExhibition();
    deactivateArt();
    activateMuseum();
  <% elsif params[:exhb_area].present? || params[:exhb_name].present? %>
    $overlay.removeClass("non-active");
  <% elsif params[:art_name].present? || params[:artist_name].present? %>
    $overlay.removeClass("non-active");
    deactivateMuseum();
    deactivateExhibition();
    activateArt();
  <% end %>

  // 検索から戻ってきたらselect-target-areaのborder消す
  <% if params[:e].present? || params[:a].present? %>
    $('#select-target-area').removeClass("image-field")
  <% end %>

  // スライダーの値を反映させる
  $star_slider = $('#main_star_slider')[0];
  $star_count = $('#main_star_count')[0];
  $star_slider.oninput = function () {
      $star_count.textContent = Number($star_slider.value).toFixed(1);
  };

  <% if params[:e].present? %>
    <% e = Exhibition.find(params[:e]) %>
    <% e.arts.each.with_index do |art, i| %>
      // 作品画像クリックで詳細表示
      $('#art_log_<%= i %>').on('click', function(){
        $('#overlay_art_<%= i %>').removeClass("non-active");
        $('#overlay_art_<%= i %>').fadeIn();
      });

      // 作品の詳細表示モーダル閉じる
      $('.close_btn_<%= i %>').on('click', function(){
        if ( $('#exhb_log_art_logs_attributes_<%= i %>_body').val() != "" ) {
          $('#comment_icon_<%= i %>').removeClass('non-active');
        };
        $('#overlay_art_<%= i %>').addClass("non-active");
        $('#overlay_art_<%= i %>').fadeOut();
      });

      // 作品星評価
      function art<%= i %>_star0_func() {
          $('.art<%= i %>_star1').removeClass('yellow');
          $('.art<%= i %>_star1').addClass('light-gray');
          $('.art<%= i %>_star2').removeClass('yellow');
          $('.art<%= i %>_star2').addClass('light-gray');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(0);
      }

      function art<%= i %>_star1_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('yellow');
          $('.art<%= i %>_star2').addClass('light-gray');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(1);
      }

      function art<%= i %>_star2_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('light-gray');
          $('.art<%= i %>_star2').addClass('yellow');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(2);
      }

      function art<%= i %>_star3_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('light-gray');
          $('.art<%= i %>_star2').addClass('yellow');
          $('.art<%= i %>_star3').removeClass('light-gray');
          $('.art<%= i %>_star3').addClass('yellow');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(3);
      }

      $('.art<%= i %>_star1').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star0_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else {
              art<%= i %>_star1_func();
          }
      });
      $('.art<%= i %>_star2').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star2_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star2_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else {
              art<%= i %>_star2_func();
          }
      });
      $('.art<%= i %>_star3').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else {
              art<%= i %>_star2_func();
          }
      });

    <% end %>
  <% end %>

  // アップロード画像表示
  $art_image_field = $('#exhb_log_art_logs_attributes_0_image');
  $art_image_preview = $('#art_image_preview');
  $art_image_upload_button = $('#art_image_upload_button');
  $($art_image_field).on('change', $art_image_field, function(e) {
    file = e.target.files[0];
    reader = new FileReader();

    if(file.type.indexOf('image') < 0){
      return false;
    };

    reader.onload = (function(file) {
      return function(e) {
        $art_image_preview.empty();
        $art_image_preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "image",
          title: file.name
        }));
        $art_image_upload_button.text("画像を変更");
        $art_image_upload_button.removeClass("primary")
      };
    })(file);
    reader.readAsDataURL(file);
  });


  // 保存ボタンで保存する
  // 展覧会ログ保存
  <% if params[:e].present? %>
    $('#save_btn').on('click', function(){
      var formData = new FormData();
      const e_id = $('#e_id').val();
      const star = $star_slider.value;
      const body = $('#body').val();
      formData.append('exhibition_id', e_id);
      formData.append('exhb_log[star]', star);
      formData.append('exhb_log[body]', body);

      <% e = Exhibition.find(params[:e]) %>
      <% e.arts.each.with_index do |art, i| %>
        formData.append('exhb_log[art_logs_attributes][<%= i %>][art_id]', <%=art.id%>);
        formData.append('exhb_log[art_logs_attributes][<%= i %>][star]', $('#exhb_log_art_logs_attributes_<%= i %>_star').val());
        formData.append('exhb_log[art_logs_attributes][<%= i %>][body]', $('#exhb_log_art_logs_attributes_<%= i %>_body').val());
        if (typeof(file_<%= i %>) !== 'undefined') {
          formData.append('exhb_log[art_logs_attributes][<%= i %>][image]', file_<%= i %>);
        }
      <% end %>

      // CSRF対策（独自のajax処理を行う場合、head内にあるcsrf-tokenを取得して送る必要がある）
      $.ajaxPrefilter(function(options, originalOptions, jqXHR){
        var token;
        if (!options.crossDomain){
          token = $('meta[name="csrf-token"]').attr('content');

          if (token){
            return jqXHR.setRequestHeader('X-CSRF-Token', token);
          };
        };
      });
      // formData送信
      $.ajax({
        url: '/logs',
        datatype: 'json',
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
      });
    });
  // 作品ログだけ保存
  <% elsif params[:a].present? %>
    $('#save_btn').on('click', function(){
      var formData = new FormData();
      const a_id = $('#a_id').val();
      const star = $star_slider.value;
      const body = $('#body').val();
      formData.append('exhb_log[art_logs_attributes][0][art_id]', a_id);
      formData.append('exhb_log[art_logs_attributes][0][star]', star);
      formData.append('exhb_log[art_logs_attributes][0][body]', body);
      if (typeof(file) !== 'undefined') {
        formData.append('exhb_log[art_logs_attributes][0][image]', file);
      }
      formData.append('art_id', a_id);

      // CSRF対策（独自のajax処理を行う場合、head内にあるcsrf-tokenを取得して送る必要がある）
      $.ajaxPrefilter(function(options, originalOptions, jqXHR){
        var token;
        if (!options.crossDomain){
          token = $('meta[name="csrf-token"]').attr('content');

          if (token){
            return jqXHR.setRequestHeader('X-CSRF-Token', token);
          };
        };
      });
      // formData送信
      $.ajax({
        url: '/arts/' + a_id + '/art_logs',
        datatype: 'json',
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
      });
    });
  <% end %>

</script>