<% if params[:e].present? %>
  <% e = Exhibition.find(params[:e]) %>
  <%= hidden_field_tag "e_id", e.id %>
<% end %>
<% if params[:a].present? %>
  <% a = Art.find(params[:a]) %>
  <%= hidden_field_tag "a_id", a.id %>
<% end %>

<%= form_with(url: logs_path) do |form| %>
  <div class="row mt20">
    <div class="off-2 col-8 off-0-xsmall col-12-xsmall">
      <div class="row mb20">

        <div class="col-8">
          <div class="row">
            <div class="col-2 col-3-xsmall">
              <% if current_user.image.present? %>
                <%= image_tag current_user.image.to_s, class: "w100 image circle" %>
              <% else %>
                <%= image_tag "default-profile-image.png", class: "w100 image circle" %>
              <% end %>
            </div>
            <span class="col-5">
              <% if params[:e].present? %>
                <input type="range" class="input-range" min="0.0" max="3.0" step="0.5" value="0.0" name="main_star" id="main_star_slider">
              <% elsif params[:a].present? %>
                <input type="range" class="input-range" min="0.0" max="3.0" step="1.0" value="0.0" name="main_star" id="main_star_slider">
              <% else %>
                <input type="range" class="input-range" min="0.0" max="3.0" step="0.5" value="0.0" name="main_star" id="main_star_slider">
              <% end %>
            </span>
            <div class="col-4 flex-container baseline">
              <h2>
                <i class="fas fa-star yellow"></i>
              </h2>
              <h2 id="main_star_count">0.0</h2>
              <span>/3</span>
            </div>
          </div>

          <div class="mb10">
            <% if params[:e].present? %>
              <% if e.name.length > 14 %>
                <div>展：<%= e.name.first(13) %>...</div>
              <% else %>
                <div>展：<%= e.name %></div>
              <% end %>

              <% if e.museum.name.present? %>
                <% if e.museum.name.length > 14 %>
                  <div>館：<%= e.museum.name.first(13) %>...</div>
                <% else %>
                  <div>館：<%= e.museum.name %></div>
                <% end %>
              <% end %>

            <% elsif params[:a].present? %>
              <% if a.name.length > 14 %>
                <div>題：<%= a.name.first(13) %>...</div>
              <% else %>
                <div>題：<%= a.name %></div>
              <% end %>

              <% if a.artist.name.present? %>
                <% if a.artist.name.length > 14 %>
                  <div>作：<%= a.artist.name.first(13) %>...</div>
                <% else %>
                  <div>作：<%= a.artist.name %></div>
                <% end %>
              <% end %>

              <% if a.year.present? %>
                <div>（<%= a.year %>）</div>
              <% end %>
            <% end %>
          </div>

          <%= form.text_area :body, rows: "2", placeholder: "感想..." %>
        </div>

        <div class="col-4">
          <% if params[:e].present? %>
            <div id="image-field" class="adjust-box box-3x4 cursor image-field">
              <h2 class="inner-box align-center">
                <%= image_tag e.image, class: "image w100" %>
              </h2>
            </div>
          <% elsif params[:a].present? %>
            <div id="image-field" class="adjust-box box-3x4 cursor image-field">
              <h2 class="inner-box align-center">
                <%= image_tag a.image, class: "image w100" %>
              </h2>
            </div>
          <% else %>
            <div id="image-field" class="adjust-box box-3x4 cursor image-field">
              <h2 class="inner-box align-center">
                <i class="fas fa-plus dark"></i>
              </h2>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <% if params[:e].present? %>
    <% e = Exhibition.find(params[:e]) %>
    <div class="row">
      <% e.arts.each.with_index do |art, i| %>
        <input value="0" type="hidden" name="exhb_log[art_logs_attributes][<%= i %>][star]" id="exhb_log_art_logs_attributes_<%= i %>_star">
        <div class="col-3 col-4-xsmall mb10">
          <%= render partial: "art_logs/new", locals: {art: art, i: i} %>
        </div>

        <div id="overlay_art_<%= i %>" class="overlay non-active">
          <div class="modal_art">
            <div class="row">

              <div class="off-4 col-4 off-0-xsmall col-12-xsmall">
                <% if art.image.present? %>
                  <%= image_tag art.image, class: "image w100" %>
                <% else %>
                  <div class="adjust-box box-16x9">
                    <div class="inner-box align-center">
                      <div class="icon fa-gem gray" style="font-size:3em;"></div>
                    </div>
                  </div>
                  <div class="image"></div>
                <% end %>

                <div class="align-center">
                  <strong><%= art.name %></strong>
                  <div><%= art.artist.name %>作</div>
                  <% if art.year.present? %>
                    <div>（<%= art.year %>年）</div>
                  <% end %>
                </div>

                <h1 class="align-center mb10">
                  <span class="art<%= i %>_star1 star mb0 light-gray"><i class="fas fa-star"></i></span>
                  <span class="art<%= i %>_star2 star mb0 light-gray"><i class="fas fa-star"></i></span>
                  <span class="art<%= i %>_star3 star mb0 light-gray"><i class="fas fa-star"></i></span>
                </h1>
                <div class="mb10">
                  <textarea rows="1" placeholder="感想..." name="exhb_log[art_logs_attributes][<%= i %>][body]" id="exhb_log_art_logs_attributes_<%= i %>_body" spellcheck="false"></textarea>
                </div>
                <div class="close_btn_<%= i %> w100 align-center mb20">
                  <div class="w30 button" tabindex="0">決定</div>
                </div>
              </div>

            </div>
          </div>
          <div class="close_btn_<%= i %> close_btn"></div>
        </div>
      <% end %>
    </div>
  <% elsif params[:a].present? %>
    <div id="art_image-field" class="adjust-box box-16x9 cursor image-field">
      <h2 class="inner-box align-center">
        <i class="fas fa-plus dark"></i>
      </h2>
    </div>
  <% end %>

  <strong id="save_btn" class="save-btn pink">保存</strong>
<% end %>

<div id="overlay" class="non-active">
  <div id="search_modal">
    <%= render partial: "search", locals: {museums: @museums, exhibitions: @exhibitions, arts: @arts} %>
  </div>
</div>



<script type="text/javascript" language="javascript">
  // スライダーの値を反映させる
  $star_slider = $('#main_star_slider')[0];
  $star_count = $('#main_star_count')[0];
  $star_slider.oninput = function () {
      $star_count.textContent = Number($star_slider.value).toFixed(1);
  };

  // image-field クリックしたら検索に飛ぶ
  $overlay = $('#overlay')
  $('#image-field').on('click', function(){
    $overlay.removeClass("non-active");
    $overlay.fadeIn();
  });

  // 検索のパラメーターがあれば検索に飛ばす
  <% if params[:museum_area].present? || params[:museum_name].present? %>
    $overlay.removeClass("non-active");
		deactivateExhibition();
		deactivateArt();
		activateMuseum();
  <% elsif params[:exhb_area].present? || params[:exhb_name].present? %>
    $overlay.removeClass("non-active");
	<% elsif params[:art_name].present? || params[:artist_name].present? %>
    $overlay.removeClass("non-active");
		deactivateMuseum();
		deactivateExhibition();
		activateArt();
	<% end %>

  // 検索から戻ってきたらimage-fieldのborder消す
  <% if params[:e].present? || params[:a].present? %>
    $('#image-field').removeClass("image-field")
  <% end %>

  // 作品画像クリックで詳細表示
  <% if params[:e].present? %>
    <% e = Exhibition.find(params[:e]) %>
    <% e.arts.each.with_index do |art, i| %>
      $('#art_log_<%= i %>').on('click', function(){
        $('#overlay_art_<%= i %>').removeClass("non-active");
        $('#overlay_art_<%= i %>').fadeIn();
      });
    <% end %>
  <% end %>

  // 作品の詳細表示閉じる
  <% if params[:e].present? %>
    <% e = Exhibition.find(params[:e]) %>
    <% e.arts.each.with_index do |art, i| %>
      $('.close_btn_<%= i %>').on('click', function(){
        $('#overlay_art_<%= i %>').addClass("non-active");
        $('#overlay_art_<%= i %>').fadeOut();
      });
    <% end %>
  <% end %>

  // 作品星評価
  <% if params[:e].present? %>
    <% e = Exhibition.find(params[:e]) %>
    <% e.arts.each.with_index do |art, i| %>

      function art<%= i %>_star0_func() {
          $('.art<%= i %>_star1').removeClass('yellow');
          $('.art<%= i %>_star1').addClass('light-gray');
          $('.art<%= i %>_star2').removeClass('yellow');
          $('.art<%= i %>_star2').addClass('light-gray');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(0);
      }

      function art<%= i %>_star1_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('yellow');
          $('.art<%= i %>_star2').addClass('light-gray');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(1);
      }

      function art<%= i %>_star2_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('light-gray');
          $('.art<%= i %>_star2').addClass('yellow');
          $('.art<%= i %>_star3').removeClass('yellow');
          $('.art<%= i %>_star3').addClass('light-gray');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(2);
      }

      function art<%= i %>_star3_func() {
          $('.art<%= i %>_star1').removeClass('light-gray');
          $('.art<%= i %>_star1').addClass('yellow');
          $('.art<%= i %>_star2').removeClass('light-gray');
          $('.art<%= i %>_star2').addClass('yellow');
          $('.art<%= i %>_star3').removeClass('light-gray');
          $('.art<%= i %>_star3').addClass('yellow');
          $('#exhb_log_art_logs_attributes_<%= i %>_star').val(3);
      }

      $('.art<%= i %>_star1').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star0_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else {
              art<%= i %>_star1_func();
          }
      });
      $('.art<%= i %>_star2').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star2_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star2_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star1_func();
          } else {
              art<%= i %>_star2_func();
          }
      });
      $('.art<%= i %>_star3').on('click', function(){
          if (!($('.art<%= i %>_star1').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else if (!($('.art<%= i %>_star2').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else if (!($('.art<%= i %>_star3').hasClass('yellow'))) {
              art<%= i %>_star3_func();
          } else {
              art<%= i %>_star2_func();
          }
      });
    <% end %>
  <% end %>


  // 保存ボタンで保存する
  <% if params[:e].present? %>
    $('#save_btn').on('click', function(){
      var formData = new FormData();
      const e_id = $('#e_id').val();
      const star = $star_slider.value;
      const body = $('#body').val();
      formData.append('exhibition_id', e_id);
      formData.append('exhb_log[star]', star);
      formData.append('exhb_log[body]', body);

      <% e = Exhibition.find(params[:e]) %>
      <% e.arts.each.with_index do |art, i| %>
        formData.append('exhb_log[art_logs_attributes][<%= i %>][art_id]', <%=art.id%>);
        formData.append('exhb_log[art_logs_attributes][<%= i %>][star]', $('#exhb_log_art_logs_attributes_<%= i %>_star').val());
        formData.append('exhb_log[art_logs_attributes][<%= i %>][body]', $('#exhb_log_art_logs_attributes_<%= i %>_body').val());
      <% end %>

      // CSRF対策（独自のajax処理を行う場合、head内にあるcsrf-tokenを取得して送る必要がある）
      $.ajaxPrefilter(function(options, originalOptions, jqXHR){
        var token;
        if (!options.crossDomain){
          token = $('meta[name="csrf-token"]').attr('content');

          if (token){
            return jqXHR.setRequestHeader('X-CSRF-Token', token);
          };
        };
      });
      $.ajax({
        url: '/logs',
        datatype: 'json',
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
      });
    });
  <% elsif params[:a].present? %>
    $('#save_btn').on('click', function(){
      var formData = new FormData();
      const a_id = $('#a_id').val();
      const star = $star_slider.value;
      const body = $('#body').val();
      formData.append('exhb_log[art_logs_attributes][0][art_id]', a_id);
      formData.append('exhb_log[art_logs_attributes][0][star]', star);
      formData.append('exhb_log[art_logs_attributes][0][body]', body);
      formData.append('art_id', a_id);

      // CSRF対策（独自のajax処理を行う場合、head内にあるcsrf-tokenを取得して送る必要がある）
      $.ajaxPrefilter(function(options, originalOptions, jqXHR){
        var token;
        if (!options.crossDomain){
          token = $('meta[name="csrf-token"]').attr('content');

          if (token){
            return jqXHR.setRequestHeader('X-CSRF-Token', token);
          };
        };
      });
      $.ajax({
        url: '/arts/' + a_id + '/art_logs',
        datatype: 'json',
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
      });
    });
  <% end %>
</script>