<div>
	<% art_logs.each do |art_log| %>
		<%= render partial: "users/user", locals: {user: art_log.user} %>

		<%= render partial: "art_logs/show", locals: {art_log: art_log} %>

		<% if art_log.art_log_comments.present? %>
			<%= render partial: "users/user", locals: {user: art_log.art_log_comments.last.user} %>
			<div><%= art_log.art_log_comments.last.body %></div>
		<% end %>

		<% if user_signed_in? %>
			<%= form_with(model: @art_log_comment, url: art_log_art_log_comments_path(art_log)) do |form| %>
				<%= form.text_area :body %>
				<%= form.submit "送信" %>
			<% end %>
		<% end %>

		<br>
	<% end %>
</div>
