<div class="row mb10">
  <% if art_log.image.present? %>
    <a href="/art_logs/<%=art_log.id%>" class="image off-3 col-6 off-0-xsmall col-12-xsmall">
      <%= image_tag art_log.image_url(:thumb), class: "w100" %>
    </a>
  <% elsif params[:controller] != "arts" && art_log.art.image.present? %>
    <div class="image off-3 col-6 off-2-xsmall col-8-xsmall">
      <%= link_to art_path(art_log.art) do %>
        <%= image_tag art_log.art.image, class: "image w100" %>
      <% end %>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col-4 col-4-xsmall">
    <% art_log.star.present? ? count = art_log.star : count = 0 %>
    <h2 class="align-center">
      <% count.times do %>
        <span><i class="fas fa-star yellow"></i></span>
      <% end %>
      <% (3 - count).times do %>
        <span><i class="fas fa-star light-gray"></i></span>
      <% end %>
    </h2>
  </div>

  <div class="col-8 col-8-xsmall">
    <% if params[:controller] != "arts" %>
      <%= link_to art_path(art_log.art) do %>
        <div class="bold dark bb0"><%= art_log.art.name %></div>
        <div class="gray"><%= art_log.art.artist.name %>作</div>
        <% if art_log.art.year.present? %>
          <div class="gray">（<%= art_log.art.year %>年）</div>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to art_log_path(art_log) do %>
      <div id="art_log<%= art_log.id %>_body" class="dark mt5 mb10"><%= art_log.body %></div>
    <% end %>
    <div id="art_log<%= art_log.id %>_form" class="non-active mb5">
      <%= form_with(model: art_log, url: "/art_logs/#{art_log.id}", method: "PATCH") do |form| %>
        <%= form.text_area :body, value: art_log.body %>
        <div class="flex-container space-between">
          <div id="cancel_edit_art_log<%= art_log.id %>" class="button mt5">キャンセル</div>
          <%= form.submit "保存", id: "submit_art_log#{art_log.id}", class: "primary mt5" %>
        </div>
      <% end %>
    </div>
    <div class="mb10" style="font-size:0.8em;"><%= l art_log.created_at, format: :short_date %></div>

    <div class="row">
      <div class="col-7">
        <% if params[:controller] != "art_logs" %>
          <% if art_log.body.present? %>
            <a href="/art_logs/<%=art_log.id%>" class="button dark">コメントする</a>
          <% end %>
        <% end %>
      </div>

      <div class="col-5">
        <span id="art_log_like_<%= art_log.id %>">
          <%= render partial: "art_log_likes/button", locals: {art_log: art_log} %>
        </span>
        <span id="art_log_likes_count_<%= art_log.id %>">
          <%= render partial: "art_log_likes/count", locals: {art_log: art_log} %>
        </span>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" language="javascript">
    $('#cancel_edit_art_log<%= art_log.id %>').on('click', function () {
        $('#art_log<%= art_log.id %>_body').removeClass('non-active');
        $('#art_log<%= art_log.id %>_form').addClass('non-active')
    });

    $('#submit_art_log<%= art_log.id %>').on('click', function () {
        setTimeout(function () {
            location.reload();
        }, 500);
    });
</script>