<div>
  <a href="/art_logs/<%=art_log.id%>" class="image">
    <%= image_tag art_log.image_url(:thumb), width: "200px" if art_log.image.present? %>
  </a>
</div>

<strong><%= art_log.art.name %></strong>
<div>作者：<%= art_log.art.artist.name %></div>
<div>制作年：<%= art_log.art.year %>年</div>

<div class="row mb10">
  <div class="col-9 row">
    <% art_log.star.present? ? count = art_log.star : count = 0 %>
    <% count.times do %>
      <div class="col-2 mb0">
        <h1 class="mb0"><i class="fas fa-star yellow"></i></h1>
      </div>
    <% end %>
    <% (3 - count).times do %>
      <div class="col-2 mb0">
        <h1 class="mb0"><i class="fas fa-star light-gray"></i></h1>
      </div>
    <% end %>
  </div>

  <div class="col-3">
    <span id="art_log_like_<%= art_log.id %>">
      <%= render partial: "art_log_likes/button", locals: {art_log: art_log} %>
    </span>
    <span id="art_log_likes_count_<%= art_log.id %>">
      <%= render partial: "art_log_likes/count", locals: {art_log: art_log} %>
    </span>
  </div>

  <div class="col-12"><%= art_log.created_at %></div>
  <div class="col-12"><%= art_log.body %></div>

</div>
