<% if art_log.image.present? %>
  <div>
    <a href="/art_logs/<%=art_log.id%>" class="image w100">
      <%= image_tag art_log.image_url(:thumb), class: "w100" %>
    </a>
  </div>
<% end %>


<div class="row">
  <div class="col-4 col-4-xsmall">
    <% art_log.star.present? ? count = art_log.star : count = 0 %>
    <h2>
      <% count.times do %>
        <span><i class="fas fa-star yellow"></i></span>
      <% end %>
      <% (3 - count).times do %>
        <span><i class="fas fa-star light-gray"></i></span>
      <% end %>
    </h2>
  </div>

  <div class="col-8 col-8-xsmall">
    <div>
      <strong><%= art_log.art.name %></strong>
      <div><%= art_log.art.artist.name %>作</div>
      <div>（<%= art_log.art.year %>年）</div>
    </div>
    <%= link_to art_log_path(art_log) do %>
      <div class="dark is-text mt5 mb10"><%= art_log.body %></div>
    <% end %>

    <div class="row">
      <div class="col-7">
        <% if controller.controller_name != "art_logs" %>
          <% if art_log.body.present? %>
            <a href="/art_logs/<%=art_log.id%>" class="button dark">コメントする</a>
          <% end %>
        <% end %>
      </div>

      <div class="col-5">
        <span id="art_log_like_<%= art_log.id %>">
          <%= render partial: "art_log_likes/button", locals: {art_log: art_log} %>
        </span>
        <span id="art_log_likes_count_<%= art_log.id %>">
          <%= render partial: "art_log_likes/count", locals: {art_log: art_log} %>
        </span>
      </div>
    </div>
  </div>
</div>
