<div><%= art_log.created_at %></div>
<%= link_to art_log_path(art_log) do %>
  <div><%= image_tag art_log.image_url(:thumb), width: "200px" if art_log.image.present? %></div>
<% end %>
<% if art_log.star.present? %>
  <div>★<%= art_log.star %></div>
<% end %>
<div><%= art_log.body %></div>

<div id="art_log_like_<%= art_log.id %>">
  <%= render partial: "art_log_likes/button", locals: {art_log: art_log} %>
</div>

<div>いいね<%= art_log.art_log_likes.count %>件</div>
