<section>
  <header class="major align-center">
    <h2><%= @art.name %></h2>
  </header>

  <div class="row">
    <div class="col-6">
      <% if @art.image.present? %>
        <%= image_tag @art.image, class: "image w100" %>
      <% else %>
        <div class="adjust-box box-16x9">
          <div class="inner-box align-center">
            <div class="icon fa-gem gray" style="font-size:3em;"></div>
          </div>
        </div>
        <div class="image"></div>
      <% end %>

      <strong><%= @art.name %></strong>
      <div><%= @art.artist.name %>作</div>
      <% if @art.year.present? %>
        <div>（<%= @art.year %>年）</div>
      <% end %>

      <%= form_for(@exhb_log, url: art_art_logs_path) do |exhb_log_form| %>
        <%= exhb_log_form.fields_for :art_logs do |art_log_fields| %>
          <%= art_log_fields.hidden_field :art_id, value: @art.id %>
          <%= art_log_fields.hidden_field :star, value: 0 %>
          <span id="star1" class="star mb0 light-gray"><i class="fas fa-star"></i></span>
          <span id="star2" class="star mb0 light-gray"><i class="fas fa-star"></i></span>
          <span id="star3" class="star mb0 light-gray"><i class="fas fa-star"></i></span>
          <%= art_log_fields.text_area :body, rows: 1, placeholder: "感想..." %>
        <% end %>
        <input type="submit" name="commit" value="保存" data-disable-with="保存中" class="w30 primary"/>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript" language="javascript">
    var star1 = $('#star1')[0];
    var star2 = $('#star2')[0];
    var star3 = $('#star3')[0];

    function star0_func() {
        $('#star1').removeClass('yellow');
        $('#star1').addClass('light-gray');
        $('#star2').removeClass('yellow');
        $('#star2').addClass('light-gray');
        $('#star3').removeClass('yellow');
        $('#star3').addClass('light-gray');
        $('#exhb_log_art_logs_attributes_0_star').val(0);
    }

    function star1_func() {
        $('#star1').removeClass('light-gray');
        $('#star1').addClass('yellow');
        $('#star2').removeClass('yellow');
        $('#star2').addClass('light-gray');
        $('#star3').removeClass('yellow');
        $('#star3').addClass('light-gray');
        $('#exhb_log_art_logs_attributes_0_star').val(1);
    }

    function star2_func() {
        $('#star1').removeClass('light-gray');
        $('#star1').addClass('yellow');
        $('#star2').removeClass('light-gray');
        $('#star2').addClass('yellow');
        $('#star3').removeClass('yellow');
        $('#star3').addClass('light-gray');
        $('#exhb_log_art_logs_attributes_0_star').val(2);
    }

    function star3_func() {
        $('#star1').removeClass('light-gray');
        $('#star1').addClass('yellow');
        $('#star2').removeClass('light-gray');
        $('#star2').addClass('yellow');
        $('#star3').removeClass('light-gray');
        $('#star3').addClass('yellow');
        $('#exhb_log_art_logs_attributes_0_star').val(3);
    }

    star1.onclick = function () {
        if (!($('#star1').hasClass('yellow'))) {
            star1_func();
        } else if (!($('#star2').hasClass('yellow'))) {
            star0_func();
        } else if (!($('#star3').hasClass('yellow'))) {
            star1_func();
        } else {
            star1_func();
        }
    };
    star2.onclick = function () {
        if (!($('#star1').hasClass('yellow'))) {
            star2_func();
        } else if (!($('#star2').hasClass('yellow'))) {
            star2_func();
        } else if (!($('#star3').hasClass('yellow'))) {
            star1_func();
        } else {
            star2_func();
        }
    };
    star3.onclick = function () {
        if (!($('#star1').hasClass('yellow'))) {
            star3_func();
        } else if (!($('#star2').hasClass('yellow'))) {
            star3_func();
        } else if (!($('#star3').hasClass('yellow'))) {
            star3_func();
        } else {
            star2_func();
        }
    };
</script>