<h1>作品のログ詳細</h1>
<% @user = @art_log.user %>
<%= render "users/user" %>

<%= render "art_logs/show" %>

<% @art_log.art_log_comments.each do |art_log_comment| %>
  <% @user = art_log_comment.user %>
  <%= render "users/user" %>
  <div><%= art_log_comment.body %></div>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: @art_log_comment, url: art_log_art_log_comments_path(@art_log)) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "送信" %>
  <% end %>
<% end %>
