<section>
  <header class="major">
    <h2><%= @art_log.art.name %></h2>
  </header>
</section>

<%= render partial: "users/show", locals: {user: @art_log.user} %>

<%= render partial: "art_logs/show", locals: {art_log: @art_log} %>

<% @art_log.art_log_comments.each do |art_log_comment| %>
  <%= render partial: "users/show", locals: {user: art_log_comment.user} %>
  <div><%= art_log_comment.body %></div>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: @art_log_comment, url: art_log_art_log_comments_path(@art_log)) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "送信" %>
  <% end %>
<% end %>
