<section>
  <div class="row">
    <div class="col-6 col-12-xsmall">
      <div class="mb10">
        <%= render partial: "users/show", locals: {user: @art_log.user, body: @art_log} %>
        <%= render partial: "art_logs/show", locals: {art_log: @art_log} %>
      </div>

      <div class="row">
        <div class="off-1 col-10">
          <div class="mb10">
            <% @art_log_comments.each do |art_log_comment| %>
              <%= render partial: "users/show", locals: {user: art_log_comment.user, body: art_log_comment} %>
              <div class="row mb10">
                <div class="off-3 col-9 off-2-xsmall col-10">
                  <%= art_log_comment.body %>
                </div>
              </div>
            <% end %>
          </div>

          <%= form_with(model: @art_log_comment, url: art_log_art_log_comments_path(@art_log)) do |form| %>
            <div class="mb10"><%= form.text_area :body, rows: 1, value: session[:art_log_comment_body], placeholder: "コメント..." %></div>
            <div class="align-right"><%= form.submit "送信" %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6 col-12-xsmall">
      <% if @exhibition.id != 1%>
        <header class="major align-center">
          <h2>この作品が展示された展覧会</h2>
        </header>

        <%= link_to exhibition_path(@exhibition) do %>
          <div class="row">
            <% if @exhibition.image.present? %>
              <div class="off-3 col-6">
                <%= image_tag @exhibition.image, class: "image w100" %>
              </div>
            <% else %>
              <div class="off-3 col-6">
                <div class="adjust-box box-16x9">
                  <div class="inner-box align-center">
                    <div class="icon fa-gem gray" style="font-size:4em;"></div>
                  </div>
                </div>
                <div class="image"></div>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="align-center">
          <%= link_to @exhibition.name, exhibition_path(@exhibition), class: "bb0" %>
        </div>

        <div class="align-center">
          <a href="/museums/<%=@museum.id%>" class="bb0 dark"><%= @museum.name %></a>
        </div>

        <div class="align-center">
          <% if @exhibition.start_date.year == @exhibition.end_date.year %>
            <strong><%= l @exhibition.start_date, format: :long %></strong>
            <strong> 〜 </strong>
            <strong><%= l @exhibition.end_date, format: :short %></strong>
          <% else %>
            <strong><%= l @exhibition.start_date, format: :short %></strong>
            <strong> 〜 </strong>
            <strong><%= l @exhibition.end_date, format: :long %></strong>
          <% end %>
        </div>
      <% else %>
        <%= link_to art_path(@art) do %>
          <div class="row">
            <% if @art.image.present? %>
              <div class="off-3 col-6">
                <%= image_tag @art.image, class: "image w100" %>
              </div>
            <% else %>
              <div class="off-3 col-6">
                <div class="adjust-box box-16x9">
                  <div class="inner-box align-center">
                    <div class="icon fa-gem gray" style="font-size:4em;"></div>
                  </div>
                </div>
                <div class="image"></div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
