<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main" style="margin-bottom:40px;">
    <!-- Header -->
    <header id="header" class="header-bg">
      <h2 class="header-ml">
        <a href="/" class="dark bb0" style="font-family: &quot;Open Sans&quot;, san-selif;">DooDoo</a>
      </h2>
    </header>

    <div class="inner">

      <%= yield %>

    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner" style="position:fixed;left:0;top:0;z-index: 300;">

      <!-- Search -->
      <section>
        <%= form_with(url: search_path, method: :get, local: true) do |form| %>
          <div class="row">
            <div class="col-8">
              <%= form.text_field :any, placeholder: "例:東京、モネ展" %>
            </div>
            <div class="col-4">
              <%= form.submit "検索" %>
            </div>
          </div>
        <% end %>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>メニュー</h2>
        </header>
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              ホーム
            <% end %>
          </li>
          <li>
            <%= link_to search_path do %>
              <i class="fas fa-search"></i>
              検索
            <% end %>
          </li>
          <li>
            <%= link_to new_log_path do %>
              <i class="fas fa-edit"></i>
              新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to trend_path do %>
              <i class="fas fa-chart-line"></i>
              トレンド
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "/#{current_user.username}" do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to mypage_path do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                アカウント作成
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer">
    <div class="menu-icon-box">
      <% if params[:action] == "home" %>
        <a href="/" class="bb0"><i class="fas fa-home menu-icon pink"></i></a>
      <% else %>
        <a href="/" class="bb0"><i class="fas fa-home menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:action] == "search" %>
        <a href="/search" class="bb0"><i class="fas fa-search menu-icon pink"></i></a>
      <% else %>
        <a href="/search" class="bb0"><i class="fas fa-search menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:controller] == "logs" && params[:action] == "new" %>
        <a href="/logs/new" class="bb0"><i class="fas fa-plus menu-icon pink"></i></a>
      <% else %>
        <a href="/logs/new" class="bb0"><i class="fas fa-plus menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:action] == "trend" %>
        <a href="/trend" class="bb0"><i class="fas fa-chart-line menu-icon pink"></i></a>
      <% else %>
        <a href="/trend" class="bb0"><i class="fas fa-chart-line menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if user_signed_in? %>
        <% if params[:username] == current_user.username%>
          <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon pink"></i></a>
        <% else %>
          <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon dark"></i></a>
        <% end %>
      <% else %>
        <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon dark"></i></a>
      <% end %>
    </div>
  </div>

</div>

<!-- Scripts -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>
</body>
</html>