<!DOCTYPE html>
<html>
  <head>
    <title>Arton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>MENU</h1>
    <div><%= link_to 'トレンド', "/" %></div>
    <div><%= link_to '検索', "/search" %></div>
    <div>NEWS</div>
    <% if user_signed_in? %>
      <div><%= link_to 'マイページ', "/mypage" %></div>
      <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
    <% else %>
      <div><%= link_to 'ログイン', new_user_session_path %></div>
      <div><%= link_to 'アカウント作成', new_user_registration_path %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
