<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main" style="margin-bottom:40px;">
    <!-- Header -->
    <header id="header" class="header-bg">
      <div class="header-ml">
        <h2 class="mb0">
          <a href="/" class="dark bb0" style="font-family: &quot;Open Sans&quot;, san-selif;">DooDo</a>
        </h2>
        <div class="header-nav-container">
          <%# 投稿保存ボタン %>
          <% if params[:controller] == "logs" && params[:action] == "new" %>
            <% if params[:e].present? || params[:a].present? %>
              <h3 id="save_btn" class="mb0 item pink pointer">保存</h3>
            <% end %>
          <% else %>
            <%# sign up in out buttons %>
            <% if user_signed_in? %>
              <% if params[:controller] == "users" %>
                <% if params[:username] == current_user.username %>
                  <div class="item">
                    <%= link_to destroy_user_session_path, class: "bb0", method: :delete do %>
                      <i class="fas fa-sign-out-alt gray"></i>
                      <span class="gray">ログアウト</span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class="item">
                <%= link_to new_user_session_path, class: "bb0" do %>
                  <i class="fas fa-sign-in-alt gray"></i>
                  <span class="gray">ログイン</span>
                <% end %>
              </div>
              <div class="item">
                <%= link_to new_user_registration_path, class: "bb0" do %>
                  <i class="fas fa-user-plus gray"></i>
                  <span class="gray">アカウント作成</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="header-ml">
        <div class="header-guide-container mb0 pb0">
          <a href="/" class="bb0"><span class="header-guide">DooDoo</span></a>
          <% if params[:controller] == "pages" && params[:action] == "home" %>
            <span id="header_guide-ranking">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">ランキング</span>
              <span id="header_guide-ranking_exhb">
                <span class="mr5"><i class="fas fa-angle-right"></i></span>
                <span class="header-guide">展覧会</span>
              </span>
              <span id="header_guide-ranking_art" class="non-active">
                <span class="mr5"><i class="fas fa-angle-right"></i></span>
                <span class="header-guide">作品</span>
              </span>
            </span>
            <span id="header_guide-new_post" class="non-active">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">最新の投稿</span>
            </span>
          <% elsif params[:controller] == "pages" && params[:action] == "search" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span id="header_guide-search_museum" class="non-active">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">美術館</span>
            </span>
            <span id="header_guide-search_exhb">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">展覧会</span>
            </span>
            <span id="header_guide-search_art" class="non-active">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">作品</span>
            </span>
          <% elsif params[:controller] == "logs" && params[:action] == "new" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/logs/new" class="bb0"><span class="header-guide">新規投稿</span></a>
            <% if params[:e].present? %>
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">展覧会</span>
            <% elsif params[:a].present? %>
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">作品</span>
            <% end %>
          <% elsif params[:controller] == "articles" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/articles" class="bb0"><span class="header-guide">記事</span></a>
            <% if params[:action] == "show" %>
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">
                <% if @article.title.length > 14 %>
                  <%= @article.title.first(14) %>...
                <% else %>
                  <%= @article.title %>
                <% end %>
              </span>
            <% end %>
          <% elsif params[:controller] == "users" && params[:action] == "show" %>
            <% if user_signed_in? %>
              <% if params[:username] == current_user.username %>
                <span class="mr5"><i class="fas fa-angle-right"></i></span>
                <a href="/mypage" class="bb0"><span class="header-guide">マイページ</span></a>
              <% else %>
                <span class="mr5"><i class="fas fa-angle-right"></i></span>
                <a href="/<%= @user.username %>" class="bb0"><span class="header-guide"><%= @user.username %></span></a>
                <span class="header-guide">のページ</span>
              <% end %>
            <% else %>
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <a href="/<%= @user.username %>" class="bb0"><span class="header-guide"><%= @user.username %></span></a>
              <span class="header-guide">のページ</span>
            <% end %>
            <span id="header_guide-user_page_log">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">ログ</span>
            </span>
            <span id="header_guide-user_page_visited" class="non-active">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">行った展覧会</span>
            </span>
            <span id="header_guide-user_page_pinned" class="non-active">
              <span class="mr5"><i class="fas fa-angle-right"></i></span>
              <span class="header-guide">ピンした展覧会</span>
            </span>
          <% elsif params[:controller] == "users" && params[:action] == "edit" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/mypage" class="bb0"><span class="header-guide">マイページ</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <span class="header-guide">プロフィール編集</span>
          <% elsif params[:controller] == "museums" && params[:action] == "show" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search?t=museum" class="bb0"><span class="header-guide">美術館</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <span class="header-guide">
              <% if @museum.name.length > 8 %>
                <%= @museum.name.first(8) %>...
              <% else %>
                <%= @museum.name %>
              <% end %>
            </span>
          <% elsif params[:controller] == "exhibitions" && params[:action] == "show" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search?t=exhibition" class="bb0"><span class="header-guide">展覧会</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <span class="header-guide">
              <% if @exhibition.name.length > 8 %>
                <%= @exhibition.name.first(8) %>...
              <% else %>
                <%= @exhibition.name %>
              <% end %>
            </span>
          <% elsif params[:controller] == "arts" && params[:action] == "show" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search?t=art" class="bb0"><span class="header-guide">作品</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <span class="header-guide">
              <% if @art.name.length > 8 %>
                <%= @art.name.first(8) %>...
              <% else %>
                <%= @art.name %>
              <% end %>
            </span>
          <% elsif params[:controller] == "exhb_logs" && params[:action] == "show" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search?t=exhibition" class="bb0"><span class="header-guide">展覧会</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/exhibitions/<%= @exhb_log.exhibition.id %>" class="bb0">
              <span class="header-guide">
                <% if @exhibition.name.length > 8 %>
                  <%= @exhibition.name.first(8) %>...
                <% else %>
                  <%= @exhibition.name %>
                <% end %>
              </span>
            </a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
          <% elsif params[:controller] == "art_logs" && params[:action] == "show" %>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search" class="bb0"><span class="header-guide">検索</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/search?t=art" class="bb0"><span class="header-guide">作品</span></a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
            <a href="/arts/<%= @art_log.art.id %>" class="bb0">
              <span class="header-guide">
                <% if @art.name.length > 8 %>
                  <%= @art.name.first(8) %>...
                <% else %>
                  <%= @art.name %>
                <% end %>
              </span>
            </a>
            <span class="mr5"><i class="fas fa-angle-right"></i></span>
          <% end %>
        </div>
      </div>
    </header>

    <div class="inner">

      <%= yield %>

    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner" style="position:fixed;left:0;top:0;z-index: 300;">

      <!-- Search -->
      <section>
        <%= form_with(url: search_path, method: :get, local: true) do |form| %>
          <div class="row">
            <div class="col-8">
              <%= form.text_field :any, placeholder: "例:東京、モネ展" %>
            </div>
            <div class="col-4">
              <%= form.submit "検索" %>
            </div>
          </div>
        <% end %>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              ホーム
            <% end %>
          </li>
          <li>
            <%= link_to search_path do %>
              <i class="fas fa-search"></i>
              検索
            <% end %>
          </li>
          <li>
            <%= link_to new_log_path do %>
              <i class="fas fa-edit"></i>
              新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to articles_path do %>
              <i class="fas fa-feather-alt"></i>
              記事一覧
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "/#{current_user.username}" do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to mypage_path do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer">
    <div class="menu-icon-box">
      <% if params[:action] == "home" %>
        <a href="/" class="bb0"><i class="fas fa-home menu-icon pink"></i></a>
      <% else %>
        <a href="/" class="bb0"><i class="fas fa-home menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:action] == "search" %>
        <a href="/search" class="bb0"><i class="fas fa-search menu-icon pink"></i></a>
      <% else %>
        <a href="/search" class="bb0"><i class="fas fa-search menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:controller] == "logs" && params[:action] == "new" %>
        <a href="/logs/new" class="bb0"><i class="fas fa-plus menu-icon pink"></i></a>
      <% else %>
        <a href="/logs/new" class="bb0"><i class="fas fa-plus menu-icon dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if params[:controller] == "articles" %>
        <a href="/articles" class="bb0"><i class="fas fa-feather-alt pink"></i></a>
      <% else %>
        <a href="/articles" class="bb0"><i class="fas fa-feather-alt dark"></i></a>
      <% end %>
    </div>
    <div class="menu-icon-box">
      <% if user_signed_in? %>
        <% if params[:username] == current_user.username%>
          <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon pink"></i></a>
        <% else %>
          <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon dark"></i></a>
        <% end %>
      <% else %>
        <a href="/mypage" class="bb0"><i class="fas fa-user menu-icon dark"></i></a>
      <% end %>
    </div>
  </div>

</div>

<!-- Scripts -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>
</body>
</html>