<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <span class="logo">
          <a href="/" class="logo"><%= image_tag "stART-logo.jpg", height: "15px" %></a>
          <span style="font-size:10px;">アート・展覧会の口コミサイト</span>
        </span>
      </header>

      <%= yield %>

    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
      <section>
        <%= form_with(url: exhibitions_path, method: :get, local: true) do |form| %>
          <div class="row">
            <div class="col-8">
              <%= form.text_field :any, placeholder: "例:東京、モネ展" %>
            </div>
            <div class="col-4">
              <%= form.submit "検索" %>
            </div>
          </div>
        <% end %>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>メニュー</h2>
        </header>
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              ホーム
            <% end %>
          </li>
          <li>
            <%= link_to exhibitions_path do %>
              <i class="fas fa-edit"></i>
              展覧会の感想を残す
            <% end %>
          </li>
          <li>
            <%= link_to arts_path do %>
              <i class="fas fa-edit"></i>
              作品の感想を残す
            <% end %>
          </li>
          <li>
            <%= link_to search_path do %>
              <i class="fas fa-search"></i>
              条件を指定して検索
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "/#{current_user.username}" do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to mypage_path do %>
                <i class="fas fa-user"></i>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                アカウント作成
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

</div>


<!-- Scripts -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>
</body>
</html>
