<section class="mt100">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt10 row">
      <div class="col-10  col-12-xsmall">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "ユーザーネーム（半角英小文字/数字 4〜20字）" %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-10  col-12-xsmall">
        <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-10  col-12-xsmall">
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（最低 #{@minimum_password_length} 字以上）" %>
        <% else %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
        <% end %>
      </div>
    </div>

    <div class="mt10 row">
      <div class="col-10  col-12-xsmall">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認）" %>
      </div>
    </div>

    <div class="mt20 row">
      <div class="col-6-xsmall actions">
        <%= f.submit "アカウント作成" %>
      </div>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</section>
